<div
    class='form-group has-feedback'
    data-ng-class="{
        'ng-invalid': ! model.isValid()
    }"
    >
    <div class='input-group' style='width:100%'>
        <input
            type="text"
            class="form-control input-lg"
            placeholder="{{placeholder}}"
            ng-required="{{required}}"
            id="{inputid}"
            name="{{inputid}}"
            data-ng-model="model.value"
            data-ng-change="onChange()"
            aria-describedby="{{help}}"
            />
        <a
            data-ng-show="helpText !== undefined"
            role="button"
            tabindex="@"
            class="btn btn-default input-group-addon"
            popover-container="body"
            popover-append-to-body="true"
            popover-trigger="focus"
            popover-placement="left"
            popover="{{ helpText }}"
            >
            <span class="badge current small" data-container="body" >?</span>
        </a>
    </div>
    <span class="form-control-feedback glyphicon "  data-ng-class="{
        'glyphicon-warning-sign danger': model.inServerError(),
        'glyphicon-asterisk danger': model.isRequiredMissing(),
        'glyphicon-remove danger': model.isInvalid(),
        'glyphicon-refresh spinning warning': model.isValidating(),
        'glyphicon-ok success': model.isValid() && ! model.isOptionallyEmpty(),
        'glyphicon-minus success': model.isValid() && model.isOptionallyEmpty(),
    }" ng-attr-style="{{helpText && 'right:60px' || undefined}}"></span>
    <span ng-transclude></span>
    <span class="pull-right label label-danger"  data-ng-show="model.inServerError()">{{ 'SERVER_ERROR' | translate }} {{model.serverError}}</span>
    <span class="pull-right label label-danger"  data-ng-show="model.isRequiredMissing()">{{ 'REQUERIT' | translate }}</span>
    <span class="pull-right label label-danger"  data-ng-show="model.isInvalid()">{{ 'INVALID' | translate }}</span>
    <span class="pull-right label label-warning" data-ng-show="model.isValidating()">{{ 'COMPROVANT' | translate }}</span>
    <span class="pull-right label label-success" data-ng-show="model.isValid() && ! model.isOptionallyEmpty()">{{ 'CORRECTE' | translate }}</span>
    <span class="pull-right label label-success" data-ng-show="model.isValid() && model.isOptionallyEmpty()">{{ 'OPCIONAL' | translate }}</span>
</div>
