    <!-- BEGIN INIT FORM-->
    <form class="form-inline" role="form" novalidate>
        <!--FIRST STEP-->
        <div class="row extra-margin-top">
            <div class="form-group col-xs-6 col-sm-5 col-md-4 col-lg-3">
                <label class="sr-only">{{ 'NUMERO_SOCI' | translate }}*</label>
                <div class="input-group" style="width: 100%">
                    <input type="text" name="socinumber" class="form-control input-lg" placeholder="{{ 'NUMERO_SOCI' | translate }}*" data-ng-model="formvalues.socinumber" data-ng-change="formListener()" required/>
                    <a
                        role="button"
                        tabindex="0"
                        class="btn btn-default input-group-addon"
                        tooltip-append-to-body="true"
                        tooltip-trigger="focus"
                        tooltip-placement="top"
                        tooltip-html-unsafe="{{ 'HELP_POPOVER_SOCIA' | translate }}"
                        >
                        <span class="badge current small">?</span>
                    </a>
               </div>
            </div>
            <div class="form-group col-xs-6 col-sm-5 col-md-4 col-lg-3" >
                <label class="sr-only">DNI/NIE/CIF*</label>
                <div class="input-group" style="width: 100%">
                    <input type="text" name="dni" class="form-control input-lg" placeholder="DNI/NIE/CIF*" data-ng-model="formvalues.dni" data-ng-change="formListener()" data-ng-class="{'ng-invalid': isInvalidId()}" required/>
                    <a
                        role="button"
                        tabindex="0"
                        class="btn btn-default input-group-addon"
                        tooltip-append-to-body="true"
                        tooltip-trigger="focus"
                        tooltip-placement="top"
                        tooltip-html-unsafe="{{ 'HELP_POPOVER_DNI' | translate }}"
                        >
                        <span class="badge current small">?</span>
                    </a>
                </div>
                <span></span>
                <span class="label label-danger" style="position:absolute;" data-ng-show="isInvalidId()">{{ 'INVALID' | translate }}</span>
            </div>
        </div>
        <div class="row">
            <p
                ng-if="isReady()"
                class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-success"
                style="margin-bottom:4ex"
                >{{ 'SOCIA_TROBADA' | translate }}{{ mostraNomSociTrobat ? ': ' + model.soci.nom+' '+model.soci.cognom :''}}</p>
            <p
                ng-if='isValidatingId()'
                style="margin-bottom:4ex"
                class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-info"
                >{{ 'VALIDANT_ID'| translate}}</p>
            <p
                ng-if='isValidatingMember()'
                style="margin-bottom:4ex"
                class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-info"
                >{{ 'IDENTIFICANT_SOCIA'| translate}}</p>
            <div
                ng-if="isInvalidMember()"
                style="margin-bottom:4ex"
                class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-danger"
                >{{ 'NO_TROBEM_CAP_SOCI_VINCULAT' | translate}}
                <p data-ng-bind-html="'NO_ETS_SOCI_FES_TE_AQUI' | translate "></p>
                </div>
            <p
                ng-if="isInvalidId()"
                style="margin-bottom:4ex"
                class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-danger"
                >{{ 'DNI_INVALID' | translate}}</p>
            <p
                ng-if="isApiError()"
                style="margin-bottom:4ex"
                class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-danger"
                >{{ 'SERVER_ERROR' | translate}} {{ apiError }}</p>
            <p
                ng-if="isIdle()"
                style="margin-bottom:4ex; visibility:hidden"
                class="col-xs-12 col-sm-5 col-md-4 col-lg-3 text-danger"
                >PlaceholderMessage</p>

            <div class="col-xs-2 col-md-4 col-lg-6 pull-right"></div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-right">
                <button class="btn btn-default btn-lg btn-block submit" data-ng-disabled="!isReady()" data-ng-class="{'green': isReady(), 'grey':!isReady()}" data-ng-click="proceed()" type="button"
>{{ buttonText }}</button>
            </div>
        </div>
        <div class="row" ng-if='developing'>
            <div class="col-xs-12">
                Current State: {{ currentInitState() }}
            </div>
        </div>
    </form>
    <!--END INIT FORM-->

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".spc-html").popover(
                {
                    html : true,
                    trigger : 'hover',
                    delay : { show : 0, hide : 2500 }
                }
        );
        jQuery(".spc").popover({trigger : 'hover'});
        setTimeout(function () { jQuery("#spc-rate-conditional").popover({trigger : 'hover'}); }, 1000);
    });
</script>

