$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* Variables */
$red: #F00;
$green: #AEC122;
$white: #FFF;
$grey-light: #DFDFE0;
$grey: #8A8990;
$grey-dark: #5F5E63;
$grey-darkest: #49494D;
$my-border-radius: 4px;

/* Mixins */
@mixin common-button-mixin {
  border-radius: 0;
  color: $white;
  border-color: transparent;
  font-size: 18px;
  width: 174px;
  height: 38px;
}

/* Browserhappy */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
  color: $grey-dark;
  /* padding-top: 20px; */
  /* padding-bottom: 20px; */
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom settings */
.row {
  margin-bottom: 20px;
  &.no-margin-bottom {
    margin-bottom: 0;
    & > .heading {
      border-top: solid 1px $grey;
      &.active {
        border-top: solid 1px $grey;
      }
    }
    &.last { border-bottom: solid 1px $grey; }
  }
  &.extra-margin-top { margin-top: 20px; }
  div > div.wrapper {
    width: 100%;
    float: left;
  }
}

.popover {
  background: $grey-darkest;
  border-color: $grey-darkest;
  color: $white;
  border-radius: 0;
}

.popover.top > .arrow:after {
  border-top-color: $grey-darkest;
}

.popover.right > .arrow:after {
  border-right-color: $grey-darkest;
}

.popover.left > .arrow:after {
  border-left-color: $grey-darkest;
}

input[type="checkbox"] { margin-right: 5px; }

input[type="text"], select {
  width: 100% !important;
  &.inherit-width    { width: inherit !important; }
  &.width-30-percent { width: 30%     !important; }
  &.width-40-percent { width: 40%     !important; }
  &.width-50-percent { width: 50%     !important; }
  &.width-60-percent { width: 60%     !important; }
  &.width-70-percent { width: 70%     !important; }
  &.width-80-percent { width: 80%     !important; float: left; margin-right: 5px; }
  &.width-90-percent { width: 90%     !important; }
}

input, select {
  background-color: $grey-light !important;
  &.ng-dirty.ng-valid {
    border-color: $green;
  }
  &.ng-dirty.ng-invalid {
    border-color: $red;
  }
  &.combo-one-row {
    float: left;
    margin-right: 5px;
  }
}

.badge {
  margin-left: 5px;
  font-size: 30px;
  border-radius: 2em;
  width: 2em;
  height: 2em;
  display: table-cell;
  vertical-align: middle;
  &.current {
    background-color: $green;
  }
  &.small {
    font-size: 14px;
    cursor: pointer;
  }
}

span {
  &.img-badge {
    width: 30px;
    display: block;
    color: transparent;
    &.first-step-number {
      background: url("//rawgit.com/Som-Energia/new-api-webforms/master/app/images/number-01.png") no-repeat 100% -30px;
      height: 30px;
      &.current {
        background: url("//rawgit.com/Som-Energia/new-api-webforms/master/app/images/number-01.png") no-repeat 100% 0;
      }
    }
    &.second-step-number {
      background: url("//rawgit.com/Som-Energia/new-api-webforms/master/app/images/number-02.png") no-repeat 100% -30px;
      height: 30px;
      &.current {
        background: url("//rawgit.com/Som-Energia/new-api-webforms/master/app/images/number-02.png") no-repeat 100% 0;
      }
    }
    &.third-step-number {
      background: url("//rawgit.com/Som-Energia/new-api-webforms/master/app/images/number-03.png") no-repeat 100% -30px;
      height: 30px;
      &.current {
        background: url("//rawgit.com/Som-Energia/new-api-webforms/master/app/images/number-03.png") no-repeat 100% 0;
      }
    }
  }
  &.optional-info {
    float: left;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
  }
  &.combo-one-row {
    margin-top: 5px;
  }
  &.combo-one-row-text {
    float: left;
    margin-top: 5px;
  }
  &.confirm {
    font-weight: bold;
    font-size: 15px;
    color: $grey-darkest;
  }
  &.last-help-title {
    font-size: 18px;
    font-weight: bold;
  }
  &.owner-swap {
    display: block;
    margin-top: 10px;
    padding: 10px;
    font-size: 0.9em;
    a {
      color: #FFF;
      text-decoration: underline;
    }
  }
}

button {
  &.btn {
    &.btn-default {
      &.transparent {
        color: $white;
        background-color: transparent;
        border-color: transparent;
        margin-right: 20px;
      }
      &.green {
        color: $white;
        background-color: $green;
        border-color: $green;
      }
      &.grey {
        color: $white;
        background-color: $grey-dark;
        border-color: $grey;
      }
      &.submit {
        font-size: 23px;
      }
      &.next-step-submit {
        @include common-button-mixin;
        text-align: left;
        background: url("../images/next-step-right.png") no-repeat;
      }
      &.final-step-submit {
        @include common-button-mixin;
        width: 240px;
        text-align: left;
        background: url("../images/iniciar-contractacio.png") no-repeat;
      }
      &.previous-step-submit {
        @include common-button-mixin;
        text-align: right;
        background: url("../images/next-step-left.png") no-repeat;
      }
    }
  }
}

label {
  font-weight: normal;
  margin-right: 10px;
  &.btn {
    &:first-child:not(:last-child):not(.dropdown-toggle), &:last-child:not(:first-child):not(.dropdown-toggle) {
      border-radius: $my-border-radius !important;
    }
    &.btn-default {
      &.green {
        font-weight: bold;
        color: $white;
        background-color: $grey-dark;
        border-color: $grey;
        &.active {
          background-color: $green;
          border-color: $grey;
        }
      }
    }
  }
  &.combo-one-row {
    float: left;
    margin-top: 5px;
  }
  &.confirm {
    font-weight: bold;
    font-size: 15px;
    color: $grey;
  }
}

h1 { font-size: 25px; }

h2 { font-size: 25px; }

h4 {
  &.confirm {
    font-size: 22px;
    font-weight: bold;
    border-bottom: solid 2px $grey-light;
    padding-bottom: 5px;
  }
}

hr {
  border-top: 3px solid $grey-light;
  &.green {
    border-top: 3px solid $green;
  }
  &.dotted {
    border-top: 1px dashed $grey-light;
  }
  &.continue-process {
    margin-bottom: 0;
  }
}

a {
  color: $green;
  &:hover {
    color: $green;
  }
}

div.alert {
  &.alert-info {
    &.grey {
      color: $white;
      background-color: $grey;
      border-color: $grey;
    }
  }
}

div.wrapper-continue-process {
  background: url("//rawgit.com/Som-Energia/new-api-webforms/master/app/images/continue-process.png") no-repeat 100% -47px;
  height: 47px;
  margin-top: -3px;
  &.ready {
    background: url("//rawgit.com/Som-Energia/new-api-webforms/master/app/images/continue-process.png") no-repeat 100% 0;
  }
}

div.well.custom-ad-top {
  border: none;
  border-radius: 0;
  border-top: solid 2px $green;
  box-shadow: 0 0 10px $grey;
  background-color: $white;
  margin-bottom: 0;
  h6 { font-size: 16px; }
  h5 {
    font-size: 30px;
    color: $green;
  }
}

.custom-ad-bottom-left {
  border: none;
  border-radius: 0;
  color: $white;
  background-color: $green;
  box-shadow: 0 3px 10px $grey;
  padding-top: 15px;
  label {
    font-weight: bold;
    font-size: 16px;
  }
}

.custom-ad-bottom-right {
  border: none;
  border-bottom: 2px solid $green;
  border-radius: 0;
  background-color: $white;
  box-shadow: 0 3px 10px $grey;
  padding-bottom: 10px;
  p { font-weight: bold; }
}

.label-success {
  background-color: $green;
}

.color-bg-green {
  background-color: $green;
}

.color-fg-white {
  color: $white;
}

.extra-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-horitzontal-padding {
  padding-left: 0;
  padding-right: 0;
}

.heading {
  color: $grey;
  background-color: $grey-light;
  &.active {
    color: $white;
    background-color: $green;
  }
}

/* Placeholders color unified hack, don't group this rules together */
.form-control[disabled]::-webkit-input-placeholder { color: $grey; }
.form-control[disabled]:-moz-placeholder           { color: $grey; }
.form-control[disabled]::-moz-placeholder          { color: $grey; }
.form-control[disabled]:-ms-input-placeholder      { color: $grey; }
.form-control::-webkit-input-placeholder { color: $grey-dark; }
.form-control:-moz-placeholder           { color: $grey-dark; }
.form-control::-moz-placeholder          { color: $grey-dark; }
.form-control:-ms-input-placeholder      { color: $grey-dark; }
select[disabled] { color: $grey; }

/* Columns of same height styles */
.container-xs-height {
  display: table;
  padding: 0 15px;
}

.row-xs-height {
  display: table-row;
}

.col-xs-height {
  display: table-cell;
  float: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
