$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

/* Variables */
$red: #F00;
$green: #AEC122;
$white: #FFF;
$grey-light: #DFDFE0;
$grey: #8A8990;
$grey-dark: #5F5E63;
$grey-darkest: #49494D;
$my-border-radius: 4px;


/* Browserhappy */
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
  color: $grey-dark;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header, .marketing, .footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom settings */
.row {
  margin-bottom: 20px;
}

input[type="text"], select {
  width: 100% !important;
}

input, select {
  background-color: $grey-light !important;
  &.ng-dirty.ng-valid {
    border-color: $green;
  }
  &.ng-dirty.ng-invalid {
    border-color: $red;
  }
}

.inherit-width {
  width: inherit !important;
}

.badge {
  font-size: 30px;
  border-radius: 2em;
  width: 2em;
  height: 2em;
  display: table-cell;
  vertical-align: middle;
  &.current {
    background-color: $green;
  }
  &.small {
    font-size: 14px;
    cursor: pointer;
  }
}

button {
  &.btn {
    &.btn-default {
      &.green {
        color: $white;
        background-color: $green;
        border-color: $green;
      }
      &.grey {
        color: $white;
        background-color: $grey-dark;
        border-color: $grey;
      }
    }
  }
}

label {
  font-weight: normal;
  margin-right: 10px;
  &.btn {
    &:first-child:not(:last-child):not(.dropdown-toggle), &:last-child:not(:first-child):not(.dropdown-toggle) {
      border-radius: $my-border-radius !important;
    }
    &.btn-default {
      &.green {
        font-weight: bold;
        color: $white;
        background-color: $grey-dark;
        border-color: $grey;
        &.active {
          background-color: $green;
          border-color: $grey;
        }
      }
    }
  }
}

hr {
  border-top: 3px solid $grey-light;
  &.green {
    border-top: 3px solid $green;
  }
  &.dotted {
    border-top: 1px dashed $grey-light;
  }
}

a {
  color: $green;
  &:hover {
    color: $green;
  }
}

div.alert {
  &.alert-info {
    &.grey {
      color: $white;
      background-color: $grey;
      border-color: $grey;
    }
  }
}

.color-bg-green {
  background-color: $green;
}

.color-fg-white {
  color: $white;
}

.extra-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}

.heading {
  color: $grey;
  background-color: $grey-light;
  &.active {
    color: $white;
    background-color: $green;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
