<div class="modal fade" id="webformsGlobalMessagesModal" tabindex="-1" role="dialog" aria-labelledby="webformsGlobalMessagesModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="text-danger" aria-hidden="true">&times;</span></button>
                <h2 class="modal-title text-danger"><span class="glyphicon glyphicon-warning-sign"></span> {{ modalTitle }}</h2>
            </div>
            <div class="modal-body">
                <p class="text-danger" ng-bind-html="messages"></p>
            </div>
            <div class="modal-footer" data-ng-show="rawReason">
                <pre class="text-danger">{{ rawReason }}</pre>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="webformsGlobalMessagesModal2" tabindex="-1" role="dialog" aria-labelledby="webformsGlobalMessagesModa2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="text-danger" aria-hidden="true">&times;</span></button>
                <h2 style="font-weight: bold; color: #AEC122;"> {{ modalTitle }}</h2>
            </div>
            <div class="modal-body">
                <p ng-bind-html="messages"></p>
            </div>
        </div>
    </div>
</div>