<div class="modal fade" id="webformsGlobalMessagesModal" tabindex="-1" role="dialog" aria-labelledby="webformsGlobalMessagesModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="text-danger" aria-hidden="true">&times;</span></button>
                <h2 class="modal-title text-danger"><span class="glyphicon glyphicon-warning-sign"></span> {{ modalTitle }}</h2>
            </div>
            <div class="modal-body">
                <div class="text-danger">
                    <p class="panel-title" ng-bind-html="messages"></p>
                </div>
                <uib-accordion>
                    <div uib-accordion-group class="panel-default" style="margin-top: 25px">
                        <uib-accordion-heading>
                        Error details<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>
                        <pre class="text-danger">{{ rawReason }}</pre>
                    </div>
                </uib-accordion>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="webformsGlobalMessagesModal2" tabindex="-1" role="dialog" aria-labelledby="webformsGlobalMessagesModa2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="text-danger" aria-hidden="true">&times;</span></button>
                <h2 style="font-weight: bold; color: #AEC122;"> {{ modalTitle }}</h2>
            </div>
            <div class="modal-body">
                <p ng-bind-html="messages"></p>
            </div>
        </div>
    </div>
</div>
