<!doctype html>
<!--[if lt IE 7]>     <html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>        <html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>        <html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Som Energia · Webforms2</title>
    <meta name="description" content="Som Energia Webforms2">
    <meta name="viewport" content="width=device-width">
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app ng-init="idiom='ca'; page='contractacio'">
	<script type="text/javascript">
		document.domain = 'somenergia.coop';
	</script>

	<div>
		<div>Idioma {{idiom}}</div>
		<select ng-model="idiom">
			<option value='ca'>Català</a>
			<option value='es'>Castellano</a>
			<option value='gl'>Galego</a>
			<option value='eu'>Euskara</a>
		</select>
		<div>Formulari {{page}}</div>
		<select ng-model="page">
			<option value='main'>Nou Soci/a</a>
			<option value='contractacio' selected>Contractació</a>
			<option value='generationkwh'>Generation kWh</a>
			<option value='aportacionsvoluntaries'>Aportacions volutaries</a>
		</select>
	</div>
	<div style="width: 100%">
		<iframe width="750px" height="1100px" style="max-width:100%; margin-left:auto; margin-right: auto"
			ng-attr-src="{{'index.html#/'+idiom+'/'+page + '/'}}">
		</iframe>
	</div>

    <!--[if lte IE 9]>
        <script src="bower_components/xdomain/dist/xdomain.min.js" data-slave="https://api.somenergia.coop/ng-xhr-proxy.html"></script>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.js"></script>
    <![endif]-->
    <!-- https://api.somenergia.coop/ng-xhr-proxy.html data-slave on production -->
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/affix.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/alert.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/button.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tab.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/transition.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/modal.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="bower_components/bootstrap-sass-official/vendor/assets/javascripts/bootstrap/popover.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/xdomain/dist/xdomain.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
</body>
</html>

