<div data-ng-show="!confirmStepReady">
    <div class="row no-margin-bottom">
        <div class="col-xs-12 heading active">
            <h2 class="extra-margin">{{ 'REVISIO_CONFIRMACIO_DADES' | translate }}</h2>
        </div>
    </div>
    <div class="row extra-margin-top">
        <div class="col-xs-12">
            <label class="confirm">{{ 'SOCI_VINCULAT' | translate }}:</label><span class="confirm">{{ soci.nom + ' ' + soci.cognom }}</span><br>
            <label class="confirm">{{ 'EL_CONTRACTE_CANVIA_TITULAR' | translate }}?:</label><span class="confirm" data-ng-show="form.changeowner == 'yes'">{{ 'SI' | translate }}</span><span class="confirm" data-ng-show="form.changeowner == 'no'">{{ 'NO' | translate }}</span>
        </div>
    </div>
    <!--DADES_TITULAR_NOU_CONTRACTE-->
    <div class="row">
        <div class="col-xs-12">
            <h4 class="confirm">{{ 'DADES_TITULAR_NOU_CONTRACTE' | translate }}:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <label class="confirm">{{ 'NOM' | translate }}:</label><span class="confirm">{{ form.name }}</span>
        </div>
        <div class="col-sm-9 col-xs-6">
            <label class="confirm">{{ 'COGNOMS' | translate }}:</label><span class="confirm">{{ form.surname }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label class="confirm">DNI/NIE/CIF:</label><span class="confirm">{{ form.dni }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6">
            <label class="confirm">{{ 'TELEFON' | translate }}:</label><span class="confirm">{{ form.phone1 }}</span>
        </div>
        <div data-ng-show="form.phone2" class="col-sm-3 col-xs-6">
            <label class="confirm">{{ 'TELEFON' | translate }} 2:</label><span class="confirm">{{ form.phone2 }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label class="confirm">EMAIL:</label><span class="confirm">{{ form.email1 }}</span>
        </div>
    </div>
    <!--DADES_PUNT_SUBMINISTRAMENT-->
    <div class="row">
        <div class="col-xs-12">
            <h4 class="confirm">{{ 'DADES_PUNT_SUBMINISTRAMENT' | translate }}:</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label class="confirm">{{ 'TARIFA' | translate }}:</label><span class="confirm">{{ form.rate }}</span>
        </div>
        <div class="col-xs-6">
            <label class="confirm">{{ 'CONSUM_ANUAL_ESTIMAT' | translate }}:</label><span class="confirm">{{ form.estimation }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label class="confirm">CUPS:</label><span class="confirm">{{ form.cups }}</span>
        </div>
        <div class="col-xs-6">
            <label class="confirm">CNAE:</label><span class="confirm">{{ form.cnae }}</span>
        </div>
    </div>
</div>