<div data-ng-show="!confirmStepReady">
    <div class="row no-margin-bottom">
        <div class="col-xs-12 heading active">
            <h2 class="extra-margin">{{ 'REVISIO_CONFIRMACIO_DADES' | translate }}</h2>
        </div>
    </div>
    <div class="row extra-margin-top">
        <div class="col-xs-12">
            <label class="confirm">{{ 'SOCI_VINCULAT' | translate }}:</label><span class="confirm">xxx</span><br>
            <label class="confirm">{{ 'EL_CONTRACTE_CANVIA_TITULAR' | translate }}:</label><span class="confirm">yyy</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h4 class="confirm">{{ 'DADES_TITULAR_NOU_CONTRACTE' | translate }}:</h4>
            <label class="confirm">{{ 'EL_CONTRACTE_CANVIA_TITULAR' | translate }}:</label><span class="confirm">yyy</span>
        </div>
    </div>
</div>