<!--GLOBAL MESSAGES-->
<div class="row" data-ng-include data-src="'views/common/global-messages.html'"></div>

<div ng-if='developing' data-ng-include data-src="'views/common/responsive-display.html'"></div>

<div>
    <!--HEADER-->
    <div class="row">
        <div class="col-xs-12">
            <h1 class="green extra-margin" translate="FORMULARI_D_INVERSIO_GKWH"></h1>
        </div>
    </div>

    <!-- BEGIN INIT FORM-->
    <member-chooser
        button-text="{{'INICIAR_INVERSIO' | translate }}"
        onproceed="initFormSubmited()"
        soci="soci"
        model="initForm"
        formvalues="formsoci"
        data-ng-show="isStep(0)"
    ></member-chooser>
    <!--END INIT FORM-->

    <!-- BEGIN INVEST FORM-->
    <form name="investForm" class="form-inline" role="form" ng-show="isStep(1) || true" enctype="multipart/form-data" novalidate>
        <fieldset ng-disabled="submiting">
        <div class="row">
            <div class="col-xs-12 heading active">
                <h1>{{ 'BENVINGUDA' | translate }} <b>{{ soci.nom }} {{ soci.cognom }}</b>!</h1>
            </div>
        </div>
        <div class='well'>
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="green"><label for="energeticActions">{{ 'QUANTES_ACCIONS_ENERGETIQUES_VOLS' | translate }}</label></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <div class="input-group input-group-lg">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="incrementShares(-1)"><i class="glyphicon glyphicon-minus"></i></button>
                        </span>
                        <input class='form-control input-lg' type="number"
                            id="energeticActions"
                            min="1" data-ng-model="form.energeticActions" required>
                        </input>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="incrementShares(+1)"><i class="glyphicon glyphicon-plus"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="input-group">
                        <input
                            type="text"
                            class="form-control input-lg"
                            value="{{ energeticActionsCost() }}"
                            readonly
                            />
                        <span class="input-group-addon" style='font-size: 200%; font-weight:bold; color: #9a7'>€</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" 
                    translate="COST_PER_ACCIO_ENERGETICA"
                    translate-value-preuperaccio="{{ preuPerAccio }}"
                >
                </div>
                <div class="col-xs-12" 
                    translate="KWH_PER_ACCIO_ENERGETICA"
                    translate-value-kwhperaccio="{{kwhPerAccio}}"
                >
                </div>
            </div>
            <div class="row" data-ng-show='partnerContracts.lenght === 0'>
                <div class="col-xs-12">
                   {{ 'NO_DISPOSEM_DE_INFORMACIO_HISTORICA_DEL_TEU_CONSUM' | translate }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table
                        width="100%"
                        class='contractTable'>
                    <tr>
                        <th>{{ 'NUM_CONTRACTE' | translate }}</th>
                        <th>{{ 'PUNT_DE_SUBMINISTRAMENT' | translate }}</th>
                        <th align="right">{{ 'US_ANUAL' | translate }}</th>
                    </tr>
                    <tr data-ng-show="partnerContracts === undefined">
                        <td colspan="3" align="center" class="text-info">
                            <i class="glyphicon glyphicon-refresh spinning"></i>
                            {{ 'CARREGANT_INFORMACIO_DELS_TEUS_CONTRACTES' | translate }}
                        </td>
                    </tr>
                    <tr data-ng-show="false"><td></td></tr>
                    <tr data-ng-show="partnerContracts.length === 0">
                        <td>{{ 'NO_HA_ESTAT_TROBAT' | translate }}</td>
                        <td>{{ 'FENT_SERVIR_RESIDENCIA_MITJANA' | translate }}</td>
                        <td align="right">{{ estimatedMeanHomeUse }}&nbsp;kWh</td>
                    </tr>
                    <tr data-ng-show="false"><td></td></tr>
                    <tr ng-repeat='contract in partnerContracts'>
                        <td>{{contract.contract_id}}</td>
                        <td>{{contract.supply_address}}</td>
                        <td align="right">{{contract.annual_use_kwh}}&nbsp;kWh</td>
                    </tr>
                    <tr data-ng-show='false'><td></td></tr>
                    <tr>
                        <th colspan='2'>{{ 'TOTAL_US_ANUAL_ESTIMAT' | translate }}</th>
                        <th align="right" style="text-align:right">{{ totalYearlyKwh }}&nbsp;kWh</th>
                    </tr>
                    <tr>
                        <th colspan='2'>{{ 'AUTOPRODUCCIO_ASSOLIDA' | translate }}</th>
                        <th align="right" style="text-align:right">{{ energeticActionsThrowput() }}&nbsp;kWh</th>
                    </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class='green'>{{ 'PERCENTATGE_ASSOLIT' | translate }}</div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success"
                            role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                            style="{{ 'width: '+greenBarLength()+'%' }}"
                            >
                            <span ng-show="percentatgeCobert()>=15">{{ percentatgeCobert() }}%</span>
                        </div>
                        <div class="progress-bar progress-bar-warning"
                            role="progressbar"
                            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                            style="{{ 'width: '+orangeBarLength()+'%' }}"
                            >
                        </div>
                        <span ng-show="percentatgeCobert()<15">{{ percentatgeCobert() }}%</span>
                    </div>
                    <div
                        translate="GENERATION_RECOMANACIO_PERCENT"
                        translate-value-percent="{{ recommendedMax }}"
                        translate-value-url="{{ 'GENERATION_RECOMANACIO_PERCENT_URL' | translate }}"
                        >
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 no-margin-bottom">
                     <h3 class='green'><label for="accountbankiban" data-ng-bind-html="'DES_DE_QUIN_COMPTE' | translate"></label></h3>
                </div>
            </div>
            <div class="row no-margin-bottom">
                <iban-editor
                    class="col-sm-8 col-xs-12"
                    required
                    inputid="accountbankiban"
                    placeholder="{{'CODI_IBAN_DEL_COMPTE' | translate}}"
                    help="accountbankibanHelp"
                    model="ibanEditor"
                ></iban-editor>
                <div class="col-xs-12">
                    <div class="help-block" id="accountbankibanHelp" for='accountbankiban'>{{ 'EXEMPLE_IBAN' | translate }}</div>
                </div>
            </div>
            <div class="row">
                <div class="form-group checkbox col-xs-12">
                    <label>
                        <input type="checkbox" name="acceptaccountowner" value="accept" data-ng-model="form.acceptaccountowner" required/>
                        <span translate="GENERATION_ACCEPTO_DOMICILIACIO" ></span>
                    </label>
                    <label>
                        <input type="checkbox" name="acceptcontract" value="accept" data-ng-model="form.acceptcontract" required/>
                        <span translate="GENERATION_ACCEPTO_CONDICIONS" ></span>
                    </label>
                </div>
            </div>
            <div class="row no-margin-bottom">
                <div class="col-xs-12 pull-right no-horitzontal-padding">
                    <button
                        data-ng-click="sendInvestment()"
                        type="button"
                        class="btn btn-default green btn-lg btn-block submit"
                        data-ng-class="{'green': isInvestmentFormReady(), 'grey':!isInvestmentFormReady() }"
                        data-ng-disabled="!isInvestmentFormReady()"
                    >{{ submitButtonText }}</button>
                </div>
            </div>
        </div>
    </fieldset>
    </form>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".spc-html").popover(
                {
                    html : true,
                    trigger : 'hover',
                    delay : { show : 0, hide : 2500 }
                }
        );
        jQuery(".spc").popover({trigger : 'hover'});
        setTimeout(function () { jQuery("#spc-rate-conditional").popover({trigger : 'hover'}); }, 1000);
    });
</script>
