<!--GLOBAL MESSAGES-->
<div class="row" data-ng-include data-src="'views/common/global-messages.html'"></div>

<div ng-if='developing' data-ng-include data-src="'views/common/responsive-display.html'"></div>

<div>
    <!--HEADER-->
    <div class="row">
        <div class="col-xs-12">
            <h1 class="green extra-margin" translate="FORMULARI_D_INVERSIO"></h1>
        </div>
    </div>
    <div class="row" data-ng-show="isStep(0) || showAll">
        <div class="col-xs-12"
                translate="APORTACIO_REQUERIMENT_SER_SOCIA">
        </div>
    </div>
    <div class="row" data-ng-show="isStep(0) || showAll">
        <div class="form-group col-xs-12">
            <div class="btn-group" style="text-align: center; width:100%">
                <label class="btn btn-default green btn-lg" data-ng-model="isPartner" data-btn-radio="true" >{{ 'JA_SOC_SOCIA' | translate }}</label>
                <label class="btn btn-default green btn-lg" data-ng-model="isPartner" data-btn-radio="false">{{ 'EM_VULL_FER_SOCIA' | translate }}</label>
            </div>
        </div>
    </div>
    <div data-ng-show="isStep(0) && isPartner===false">
        <div class="row">
            <div class="col-xs-12">
                <div
                    class="alert alert-info"
                    translate="APORTACIO_FERSE_SOCIA"
                    >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3 pull-right">
                <button
                    class="btn btn-default btn-lg btn-block submit green"
                    data-ng-click="newPartnerProceed()"
                    type="button"
                    >{{ 'SEGUENT_PAS' | translate }} &gt;&gt; </button>
            </div>
        </div>
    </div>

    <div
        class="well"
        data-ng-show="isStep(2) && isPartner===false || showAll"
        >
        <div class="row">
            <div class="col-xs-12">
                <h2 class='green' translate="DADES_ALTA"></h2>
            </div>
        </div>
        <personal-data
            model='newPartner'
        ></personal-data>
        <div class="row" data-ng-show="isPartner!==undefined">
            <div class="form-group checkbox col-xs-12">
                <label>
                    <input type="checkbox" name="acceptprivacypolicy" value="accept" data-ng-model="form.acceptprivacypolicy" required/>
                    <span translate="ACCEPTO_POLITICA_PRIVACITAT" ></span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3 pull-right">
                <button
                    class="btn btn-default btn-lg btn-block submit"
                    data-ng-disabled="!isNewPartnerReady()"
                    data-ng-class="{'green': isNewPartnerReady(), 'grey':!isNewPartnerReady()}"
                    data-ng-click="newPartnerSubmitted()"
                    type="button"
                    >{{ 'INICIAR_INVERSIO' | translate }}</button>
            </div>
        </div>
    </div>

    <member-chooser
        button-text="{{'INICIAR_INVERSIO' | translate }}"
        onproceed="initFormSubmited()"
        soci="soci"
        model="initForm"
        formvalues="formsoci"
        data-ng-show="isStep(0) && isPartner===true || showAll "
    ></member-chooser>

    <!-- BEGIN INVEST FORM-->
    <form name="investForm" class="form-inline" role="form" ng-show="isStep(1) || showAll" enctype="multipart/form-data" novalidate>
        <fieldset ng-disabled="submiting">
        <div class="row">
            <div class="col-xs-12 heading active">
                <h1 translate="BENVINGUDA"
                    translate-value-name="{{soci.nom}} {{soci.cognom}}"
                    ></h1>
            </div>
        </div>
        <div class='well'>
            <div class="row">
                <div class="col-xs-12">
                    <label for="amount">
                        <h3 class="green"
                            translate="QUANT_VOLS_INVERTIR">
                           <small>{{ 'EN_APORTACIO_VOLUNTARIA' | translate }}</small>
                        </h3>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="input-group">
                    <input type="text" id="amount" name="amount" class="form-control input-lg" data-ng-model="form.amount" data-ng-change="formAmountListener()" required aria-describedby="amounthelp" ng-class="{'ng-invalid': amountAboveMax || amountNotHundred || amountUnderMin}"/>
                    <span class="input-group-addon" style='font-size: 200%; font-weight:bold; color: #9a7'>€</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6 no-margin-top">
                    <b>{{ 'RECORDA' | translate}}</b>
                    <ul>
                    <li><span ng-class="{'label-danger': amountUnderMin, label: amountUnderMin}">
                        {{ 'AMOUNT_HELPER_MIN' | translate }}</span> </li>
                    <li><span ng-class="{'label-danger': amountAboveMax, label: amountAboveMax}">
                        {{ 'AMOUNT_HELPER_MAX' | translate }}</span></li>
                    <li><span ng-class="{'label-danger': amountNotHundred, label: amountNotHundred}">
                        {{ 'AMOUNT_HELPER_STEP' | translate }}</span>
                    </ul>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-12 no-margin-bottom">
                    <h3 class='green'><label for="accountbankiban" data-ng-bind-html="'DES_DE_QUIN_COMPTE' | translate"></label>
                    </h3>
                </div>
                <div class="col-xs-12"
                    data-ng-if="isPartner===false"
                    translate="CARREC_ADICIONAL_NOVA_SOCIA"
                    translate-value-total="{{ investedAmount() + 100 }}"
                    translate-value-costaccions="{{ investedAmount() }}"
                    translate-value-aportaciosoci="{{ 100 }}"
                    >
                </div>
            </div>
            <div class="row no-margin-bottom">
                <iban-editor
                    class="col-sm-8 col-xs-12"
                    required
                    inputid="accountbankiban"
                    placeholder="{{'CODI_IBAN_DEL_COMPTE' | translate}}"
                    help="accountbankibanHelp"
                    model="ibanEditor"
                ></iban-editor>
                <div class="col-xs-12">
                    <div class="help-block" id="accountbankibanHelp" for='accountbankiban'>{{ 'EXEMPLE_IBAN' | translate }}</div>
                </div>
            </div>
            <div class="row no-margin-bottom">
            </div>
            <div class="row">
                <div class="form-group checkbox col-xs-12">
                    <label>
                        <input type="checkbox" name="acceptaccountowner" value="accept" data-ng-model="form.acceptaccountowner" required/>
                        <span translate="GENERATION_ACCEPTO_DOMICILIACIO" ></span>
                    </label>
                </div>
                <div class="form-group checkbox col-xs-12">
                    <label>
                        <input type="checkbox" name="acceptcontract" value="accept" data-ng-model="form.acceptcontract" required/>
                        <span
                            translate="GENERATION_ACCEPTO_CONDICIONS"
                            translate-value-url="{{ 'APORTACIO_CONDICIONS_URL' | translate }}"
                            ></span>
                    </label>
                </div>
            </div>
            <div class="row no-margin-bottom">
                <div class="col-xs-12 pull-right no-horitzontal-padding">
                    <button
                        data-ng-click="proceed()"
                        type="button"
                        class="btn btn-default green btn-lg btn-block submit"
                        data-ng-class="{
                            'green': isInvestmentFormReady(),
                            'grey':!isInvestmentFormReady()
                            }"
                        data-ng-disabled="!isInvestmentFormReady()"
                    >{{ submitButtonText }}</button>
                </div>
            </div>
        </div>
    </fieldset>
    </form>
</div>

<!--OFFLINE API MODAL-->
<div id="api-server-offline-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="WebformsOfflineApi" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/offline-api-modal.html'"></div>
</div>

<!--LOADING API MODAL-->
<div id="loading-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="WebformsLoadingApi" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/loading-api-modal.html'"></div>
</div>

<!--WELL DONE MODAL-->
<div id="well-done-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="WebformsWellDone" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/well-done-modal.html'"></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".spc-html").popover(
                {
                    html : true,
                    trigger : 'hover',
                    delay : { show : 0, hide : 2500 }
                }
        );
        jQuery(".spc").popover({trigger : 'hover'});
        setTimeout(function () { jQuery("#spc-rate-conditional").popover({trigger : 'hover'}); }, 1000);
    });
</script>
