<!--GLOBAL MESSAGES-->
<div ng-if='developing' style='position:fixed; right:0pt; top:0pt;' >
    <div class='visible-lg'>LG</div>
    <div class='visible-md'>MD</div>
    <div class='visible-sm'>SM</div>
    <div class='visible-xs'>XS</div>
</div>

<div class="row" data-ng-include data-src="'views/common/global-messages.html'"></div>

<div data-ng-show="!step4Ready">
    <!--HEADER-->
    <div class="row no-margin-bottom">
        <div class="col-xs-12 heading active">
            <h1 class="extra-margin">{{ 'FORMULARI_APORTACIO_VOLUNTARIA' | translate }}</h1>
        </div>
    </div>

    <!-- BEGIN INIT FORM-->
    <div data-ng-include data-src="'views/common/validacio-socia.html'"></div>
    <!--END INIT FORM-->

    <!-- BEGIN ORDER FORM-->
    <form name="investForm" class="form-inline" role="form" ng-visible="isInitFormReady()" enctype="multipart/form-data" novalidate>
        <div class="row">
            <div class="col-xs-12 heading active">
                <h1>{{ 'BENVINGUDA' | translate }} <b>{{ soci.nom }} {{ soci.cognom }}</b>!</h1>
            </div>
        </div>
        <div class='well'>
            <div class="row">
                <div class="col-xs-12">
                    <label for="amount">
                    <h4>{{ "QUAN_VOLS_INVERTIR" | translate }}
                    <div class="small">{{ 'EN_APORTACIO_VOLUNTARIA' | translate }}</div>
                    </h4></label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="input-group">
                    <input type="text" id="amount" name="amount" class="form-control input-lg" data-ng-model="form.amount" data-ng-change="formAmountListener()" required aria-describedby="amounthelp" ng-class="{'ng-invalid': amountAboveMax || amountNotHundred || amountUnderMin}"/>
                    <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.amount.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="input-group-addon" style='font-size: 200%; font-weight:bold; color: #9a7'>€</span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-6">
                    <div class="help-block" id="amounthelp">
                        <span ng-class="{'text-danger': amountAboveMax}">
                            {{ 'AMOUNT_HELPER_MAX' | translate }}</span>
                        <span ng-class="{'text-danger': amountUnderMin}">
                            {{ 'AMOUNT_HELPER_MIN' | translate }}</span>
                        <span ng-class="{'text-danger': amountNotHundred}">
                            {{ 'AMOUNT_HELPER_STEP' | translate }}</span>
                    </div>
                </div>
            </div>
            <div class="row extra-margin-top">
                <div class="col-xs-12">
                     <h4><label for="accountbankiban">{{ "NUM_DE_COMPTE" | translate }}</label></h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <input type="text" id="accountbankiban" name="accountbankiban" class="form-control input-lg" data-ng-model="form.accountbankiban" data-ng-change="formAccountIbanListener()" required aria-describedby="accountbankibanHelp"/>
                    <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.accountbankiban.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="help-block" id="accountbankibanHelp" for='accountbankiban'>{{ 'NUM_COMPTE' | translate }} ({{ 'IBAN_EXEMPLE' | translate }}: ES11 2222 3333 4444 5555 6666)</div>
                    <span class="label label-danger" data-ng-show="accountIsInvalid">{{ 'INVALID' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group checkbox col-xs-12">
                    <label>
                        <input type="checkbox" name="acceptaccountowner" value="accept" data-ng-model="form.acceptaccountowner" data-ng-change="formListener()" required/>
                        <span data-ng-bind-html="'CONFIRMO_CONDICIONS_INVERSIO' | translate"></span>
                    </label>
                    <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.accept.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <div class="row no-margin-bottom">
                <div class="col-xs-12 no-horitzontal-padding">
                    <button data-ng-click="moveToStep4Form()" class="btn btn-default green btn-lg btn-block col-xs-12 " data-ng-disabled="!isFinalStepButtonReady" type="button">{{ 'CONFIRMAR_INVERSIO' | translate }}</button>
                </div>
            </div>
        </div>
    </form>
</div>

<!--CONFIRM TEMPLATE-->
<div data-ng-include data-src="'views/confirm.html'"></div>

<!--OFFLINE API MODAL-->
<div id="api-server-offline-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="WebformsOfflineApi" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/offline-api-modal.html'"></div>
</div>

<!--LOADING API MODAL-->
<div id="loading-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="WebformsLoadingApi" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/loading-api-modal.html'"></div>
</div>

<!--WELL DONE MODAL-->
<div id="well-done-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="WebformsWellDone" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/well-done-modal.html'"></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery(".spc-html").popover(
                {
                    html : true,
                    trigger : 'hover',
                    delay : { show : 0, hide : 2500 }
                }
        );
        jQuery(".spc").popover({trigger : 'hover'});
        setTimeout(function () { jQuery("#spc-rate-conditional").popover({trigger : 'hover'}); }, 1000);
    });
</script>
