<!--GLOBAL MESSAGES-->
<div class="row" data-ng-include data-src="'//rawgit.com/Som-Energia/new-api-webforms/master/app/views/common/global-messages.html'"></div>

<!-- BEGIN FORM-->
<form name="partnerForm" class="form-inline" role="form" novalidate>
    <!--FIRST STEP-->
    <div class="row">
        <div class="col-xs-1">
            <span class="img-badge first-step-number" data-ng-class="{current: step1Ready}">1</span>
        </div>
        <div class="col-xs-11">
            <div class="row">
                <div class="form-group col-xs-12">
                    <label>{{ 'SELECCIONA' | translate }}:</label>
                    <div class="btn-group">
                        <label class="btn btn-default green" data-ng-model="form.usertype" data-btn-radio="'person'" data-ng-change="formListener()">{{ 'PARTICULAR' | translate }}</label>
                        <label class="btn btn-default green" data-ng-model="form.usertype" data-btn-radio="'company'" data-ng-change="formListener()">{{ 'EMPRESA' | translate }}</label>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-show="form.usertype">
                <div class="form-group col-sm-4 col-xs-10" data-ng-show="form.usertype">
                    <label class="sr-only">{{ 'IDIOMA' | translate }}*:</label>
                    <select class="form-control" name="language" data-ng-model="form.language" data-ng-options="language.name for language in languages" data-ng-change="formListener()" required>
                        <option value="">{{ 'SELECCIONA_IDIOMA' | translate }}</option>
                    </select>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.language.$invalid">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="col-sm-1 col-xs-1">
                    <span id="help-popover-language" class="badge current small" data-container="body" data-toggle="popover" data-content="{{ 'HELP_POPOVER_IDIOMA' | translate }}" data-placement="left">?</span>
                </div>
            </div>
        </div>
    </div>
    <hr data-ng-class="{green: step1Ready}">

    <!--SECOND STEP-->
    <div class="row">
        <div class="col-xs-1">
            <span class="img-badge second-step-number" data-ng-class="{current: step2Ready}">2</span>
        </div>
        <div class="col-xs-11">
            <!--PARTICULAR-->
            <div class="row" data-ng-if="form.usertype != 'company'">
                <div class="form-group col-sm-3 col-xs-12">
                    <label class="sr-only">{{ 'NOM' | translate }}*:</label>
                    <input type="text" name="name" class="form-control" placeholder="{{ 'NOM' | translate }}*" data-ng-model="form.name" data-ng-change="formListener()" data-ng-disabled="!step2Ready" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.name.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="form-group col-sm-9 col-xs-12">
                    <label class="sr-only">{{ 'COGNOMS' | translate }}*:</label>
                    <input type="text" name="surname" class="form-control" placeholder="{{ 'COGNOMS' | translate }}*" data-ng-model="form.surname" data-ng-change="formListener()" data-ng-disabled="!step2Ready" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.surname.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <hr class="dotted" data-ng-if="form.usertype != 'company'">
            <div class="row" data-ng-if="form.usertype != 'company'">
                <div class="form-group col-sm-4 col-xs-12">
                    <label class="sr-only">DNI/NIE*:</label>
                    <input type="text" name="dni" class="form-control" placeholder="DNI/NIE*" data-ng-model="form.dni" data-ng-change="formListener()" data-ng-disabled="!step2Ready" data-ng-class="{'ng-invalid': dniIsInvalid || dniDuplicated}" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.dni.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="label label-danger" data-ng-show="dniIsInvalid">{{ 'INVALID' | translate }}</span>
                    <span class="label label-danger" data-ng-show="dniDuplicated">{{ 'REGISTRE_EXISTENT' | translate }}</span>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label class="sr-only">Email*:</label>
                    <input type="text" name="email1" class="form-control" placeholder="Email*" data-ng-model="form.email1" data-ng-change="formListener()" data-ng-disabled="!step2Ready" data-ng-class="{'ng-invalid': emailIsInvalid}" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.email1.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="label label-danger" data-ng-show="emailIsInvalid">{{ 'INVALID' | translate }}</span>
                </div>
                <div class="form-group col-sm-4 col-xs-12">
                    <label class="sr-only">{{ 'REPETEIX_EMAIL' | translate }}*:</label>
                    <input type="text" name="email2" class="form-control" placeholder="{{ 'REPETEIX_EMAIL' | translate }}*" data-ng-model="form.email2" data-ng-change="formListener()" data-ng-disabled="!step2Ready" data-ng-class="{'ng-invalid': emailNoIguals}" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.email2.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="label label-danger" data-ng-show="emailNoIguals">{{ 'EMAIL_NO_IGUALS' | translate }}</span>
                </div>
            </div>
            <!--EMPRESA-->
            <div class="row" data-ng-if="form.usertype == 'company'">
                <div class="form-group col-sm-3 col-xs-6">
                    <label class="sr-only">CIF*:</label>
                    <input type="text" name="dni" class="form-control" placeholder="CIF*" data-ng-model="form.dni" data-ng-change="formListener()" data-ng-disabled="!step2Ready" data-ng-class="{'ng-invalid': dniIsInvalid || dniDuplicated}" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.dni.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="label label-danger" data-ng-show="dniIsInvalid">{{ 'INVALID' | translate }}</span>
                    <span class="label label-danger" data-ng-show="dniDuplicated">{{ 'REGISTRE_EXISTENT' | translate }}</span>
                </div>
                <div class="form-group col-sm-9 col-xs-6">
                    <label class="sr-only">{{ 'RAO_SOCIAL' | translate }}*:</label>
                    <input type="text" name="name" class="form-control" placeholder="{{ 'RAO_SOCIAL' | translate }}*" data-ng-model="form.name" data-ng-change="formListener()" data-ng-disabled="!step2Ready" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.name.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <div class="row" data-ng-if="form.usertype == 'company'">
                <div class="form-group col-sm-3 col-xs-6">
                    <label class="sr-only">DNI/NIE*:</label>
                    <input type="text" name="representantdni" class="form-control" placeholder="DNI/NIE*" data-ng-model="form.representantdni" data-ng-change="formListener()" data-ng-disabled="!step2Ready" data-ng-class="{'ng-invalid': dniRepresentantIsInvalid }" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.representantdni.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="label label-danger" data-ng-show="dniRepresentantIsInvalid">{{ 'INVALID' | translate }}</span>
                </div>
                <div class="form-group col-sm-9 col-xs-6">
                    <label class="sr-only">{{ 'PERSONA_REPRESENTANT' | translate }}*:</label>
                    <input type="text" name="representantname" class="form-control" placeholder="{{ 'PERSONA_REPRESENTANT' | translate }}*" data-ng-model="form.representantname" data-ng-change="formListener()" data-ng-disabled="!step2Ready" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.representantname.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <hr class="dotted" data-ng-if="form.usertype == 'company'">
            <div class="row" data-ng-if="form.usertype == 'company'">
                <div class="form-group col-xs-6">
                    <label class="sr-only">Email*:</label>
                    <input type="text" name="email1" class="form-control" placeholder="Email*" data-ng-model="form.email1" data-ng-change="formListener()" data-ng-disabled="!step2Ready" data-ng-class="{'ng-invalid': emailIsInvalid}" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.email1.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="label label-danger" data-ng-show="emailIsInvalid">{{ 'INVALID' | translate }}</span>
                </div>
                <div class="form-group col-xs-6">
                    <label class="sr-only">{{ 'REPETEIX_EMAIL' | translate }}*:</label>
                    <input type="text" name="email2" class="form-control" placeholder="{{ 'REPETEIX_EMAIL' | translate }}*" data-ng-model="form.email2" data-ng-change="formListener()" data-ng-disabled="!step2Ready" data-ng-class="{'ng-invalid': emailNoIguals}" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.email2.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="label label-danger" data-ng-show="emailNoIguals">{{ 'EMAIL_NO_IGUALS' | translate }}</span>
                </div>
            </div>
            <!--COMMON PARTS-->
            <div class="row">
                <div class="form-group col-xs-6">
                    <label class="sr-only">{{ 'TELEFON' | translate }}*:</label>
                    <input type="text" name="phone1" data-ng-model="form.phone1" class="form-control" placeholder="{{ 'TELEFON' | translate }}*" data-ng-change="formListener()" data-ng-disabled="!step2Ready" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.phone1.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="form-group col-xs-6">
                    <label class="sr-only">{{ 'TELEFON' | translate }} 2:</label>
                    <input type="text" name="phone2" data-ng-model="form.phone2" class="form-control" placeholder="{{ 'TELEFON' | translate }} 2" data-ng-disabled="!step2Ready"/>
                </div>
            </div>
            <hr class="dotted">
            <div class="row">
                <div class="form-group col-sm-9 col-xs-12">
                    <label class="sr-only">{{ 'ADRECA' | translate }}*:</label>
                    <input type="text" name="address" data-ng-model="form.address" class="form-control" placeholder="{{ 'ADRECA' | translate }}*" data-ng-change="formListener()" data-ng-disabled="!step2Ready" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.address.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="form-group col-sm-3 col-xs-12">
                    <label class="sr-only">{{ 'CODI_POSTAL' | translate }}*:</label>
                    <input type="text" name="postalcode" data-ng-model="form.postalcode" class="form-control" placeholder="{{ 'CODI_POSTAL' | translate }}*" data-ng-change="formListener()" data-ng-disabled="!step2Ready" required/>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.postalcode.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="label label-danger" data-ng-show="postalCodeIsInvalid">{{ 'DIGITS_LENGTH_5' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label class="sr-only">{{ 'PROVINCIA' | translate }}</label>
                    <select class="form-control" name="province" data-ng-model="form.province" data-ng-options="province.name for province in provinces" data-ng-change="updateSelectedCity(form)" data-ng-disabled="!step2Ready" required>
                        <option value="">{{ 'PROVINCIA' | translate }}*</option>
                    </select>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.province.$invalid">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="form-group col-xs-6">
                    <label for="city" class="sr-only">{{ 'POBLACIO' | translate }}</label>
                    <select class="form-control" name="city" data-ng-model="form.city" data-ng-options="city.name for city in cities" data-ng-change="formListener()" data-ng-disabled="!step2Ready" required >
                        <option value="">{{ 'POBLACIO' | translate }}*</option>
                    </select>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.city.$invalid">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <div class="row" data-ng-show="showAgreeCheckbox">
                <div class="form-group checkbox col-xs-12">
                    <label>
                        <input type="checkbox" name="accept" value="accept" data-ng-model="form.accept" data-ng-change="formListener()" data-ng-disabled="!step2Ready" required/>
                        <span data-ng-bind-html="'ACCEPTO_POLITICA_PRIVACITAT' | translate"></span>
                    </label>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.accept.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
    <hr data-ng-class="{green: step2Ready}">

    <!--THIRD STEP-->
    <div class="row">
        <div class="col-xs-1">
            <span class="img-badge third-step-number" data-ng-class="{current: step3Ready}">3</span>
        </div>
        <div class="col-xs-11">
            <div class="row">
                <div class="form-group col-xs-12">
                    <label>{{ 'METODE_PAGAMENT' | translate }}:</label>
                    <div class="btn-group">
                        <label class="btn btn-default green" data-ng-disabled="!step3Ready" data-ng-model="form.payment" data-btn-radio="'bankaccount'">{{ 'REBUT_BANCARI' | translate }}</label>
                        <label class="btn btn-default green" data-ng-disabled="!step3Ready" data-ng-model="form.payment" data-btn-radio="'creditcard'">{{ 'TARGETA_CREDIT' | translate }}</label>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-if="form.payment == 'bankaccount'">
                <div class="col-sm-12 col-xs-12">
                    <label>{{ 'NUM_COMPTE' | translate }} (IBAN)</label>
                    <span class="label label-danger" data-ng-show="accountIsInvalid">{{ 'INVALID' | translate }}</span>
                </div>
            </div>
            <div class="row" data-ng-if="form.payment == 'bankaccount'">
                <div class="col-sm-2 col-xs-2">
                    <input type="text" name="accountbankiban1" class="form-control" data-ng-model="form.accountbankiban1" data-ng-change="formAccountIbanListener()" required/>
                    <span class="label label-danger" data-ng-show="form.accountbankiban1.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <input id="accountbankiban2input" type="text" name="accountbankiban2" class="form-control" data-ng-model="form.accountbankiban2" data-ng-change="formAccountIbanListener()" required/>
                    <span class="label label-danger" data-ng-show="form.accountbankiban2.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <input id="accountbankiban3input" type="text" name="accountbankiban3" class="form-control" data-ng-model="form.accountbankiban3" data-ng-change="formAccountIbanListener()" required/>
                    <span class="label label-danger" data-ng-show="form.accountbankiban3.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <input id="accountbankiban4input" type="text" name="accountbankiban4" class="form-control" data-ng-model="form.accountbankiban4" data-ng-change="formAccountIbanListener()" required/>
                    <span class="label label-danger" data-ng-show="form.accountbankiban4.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <input id="accountbankiban5input" type="text" name="accountbankiban5" class="form-control" data-ng-model="form.accountbankiban5" data-ng-change="formAccountIbanListener()" required/>
                    <span class="label label-danger" data-ng-show="form.accountbankiban5.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="col-sm-2 col-xs-2">
                    <input id="accountbankiban6input" type="text" name="accountbankiban6" class="form-control" data-ng-model="form.accountbankiban6" data-ng-change="formAccountIbanListener()" required/>
                    <span class="label label-danger" data-ng-show="form.accountbankiban6.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <p class="help-block">{{ 'COST' | translate }}:&nbsp;<strong>{{ 'REBUT_BANCARI' | translate }}: 0€</strong>&nbsp;&nbsp;<strong>{{ 'TARGETA_CREDIT' | translate }}: 1,8€</strong></p>
                </div>
            </div>
            <div class="alert alert-info grey">
                <span data-ng-bind-html="'INFO_APORTACIO' | translate"></span>
            </div>
        </div>
    </div>
    <hr class="continue-process" data-ng-class="{green: step3Ready}">
    <div class="row">
        <div class="col-xs-12">
            <div class="wrapper-continue-process" data-ng-class="{ready: step3Ready}">
                <button data-ng-disabled="!submitReady" data-ng-click="submit(partnerForm)" class="btn btn-default transparent pull-right submit">{{ 'FINALITZA_PROCES' | translate }}</button>
            </div>
        </div>
    </div>
<!-- END FORM-->
</form>

<!--OFFLINE API MODAL-->
<div id="api-server-offline-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="Webforms" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'//rawgit.com/Som-Energia/new-api-webforms/master/app/views/common/offline-api-modal.html'"></div>
</div>

<!--WELL DONE MODAL-->
<div id="well-done-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="WebformsWellDone" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'//rawgit.com/Som-Energia/new-api-webforms/master/app/views/common/well-done-modal.html'"></div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#help-popover-language").popover({trigger : 'hover'});
    });
</script>