<!--GLOBAL MESSAGES-->
<div class="row">
    <div class="col-xs-12">
        <div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
    </div>
</div>

<!-- BEGIN FORM-->
<form name="partnerForm" class="form-inline" role="form" novalidate>
    <!--FIRST STEP-->
    <div class="row">
        <div class="col-xs-1">
            <span class="badge" data-ng-class="{current: step1Ready}">1</span>
        </div>
        <div class="col-xs-11">
            <div class="row">
                <div class="form-group col-xs-6">
                    <span>{{ 'SELECCIONA' | translate }}&nbsp;</span>
                    <div class="btn-group" data-toggle="buttons" data-ng-click="firstUserTypeClick(form)">
                        <label for="usertype" class="btn btn-default green">
                            <input type="radio" name="usertype" id="usertype1" value="person" data-ng-model="form.usertype"> {{ 'SELECCIONA_PARTICULAR' | translate }}
                        </label>
                        <label for="usertype" class="btn btn-default green">
                            <input type="radio" name="usertype" id="usertype2" value="company" data-ng-model="form.usertype"> {{ 'SELECCIONA_EMPRESA' | translate }}
                        </label>
                    </div>
                </div>
                <div class="form-group col-xs-6">
                    <label for="language" class="sr-only">{{ 'IDIOMA' | translate }}*:</label>
                    <select class="form-control" name="language" data-ng-model="form.language" data-ng-options="language.name for language in languages" data-ng-change="formListener(form)" required>
                        <option value="">{{ 'SELECCIONA_IDIOMA' | translate }}</option>
                    </select>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.language.$invalid">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!--SECOND STEP-->
    <div class="row">
        <div class="col-xs-1">
            <span class="badge" data-ng-class="{current: step2Ready}">2</span>
        </div>
        <div class="col-xs-11">
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="cif" class="sr-only">CIF*:</label>
                    <input type="text" name="cif" data-ng-model="form.cif" class="form-control" placeholder="CIF*" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required />
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.cif.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="form-group col-xs-9">
                    <label for="reason" class="sr-only">{{ 'RAO_SOCIAL' | translate }}*:</label>
                    <input type="text" name="cif" data-ng-model="form.social" class="form-control" placeholder="{{ 'RAO_SOCIAL' | translate }}*" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required />
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.reason.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-3">
                    <label for="dni" class="sr-only">DNI/NIE*:</label>
                    <input type="text" name="dni" data-ng-model="form.dni" class="form-control" placeholder="DNI/NIE*" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required />
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.dni.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="form-group col-xs-9">
                    <label for="person" class="sr-only">{{ 'PERSONA_REPRESENTANT' | translate }}*:</label>
                    <input type="text" name="person" data-ng-model="form.person" class="form-control" placeholder="{{ 'PERSONA_REPRESENTANT' | translate }}*" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required />
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.person.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="email1" class="sr-only">Email*:</label>
                    <input type="text" name="email1" data-ng-model="form.email1" class="form-control" placeholder="Email*" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required />
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.email1.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="form-group col-xs-6">
                    <label for="email2" class="sr-only">{{ 'REPETEIX_EMAIL' | translate }}*:</label>
                    <input type="text" name="email2" data-ng-model="form.email2" class="form-control" placeholder="{{ 'REPETEIX_EMAIL' | translate }}*" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required />
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.email2.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="phone1" class="sr-only">{{ 'TELEFON' | translate }}*:</label>
                    <input type="text" name="phone1" data-ng-model="form.phone1" class="form-control" placeholder="{{ 'TELEFON' | translate }}*" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required />
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.phone1.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="form-group col-xs-6">
                    <label for="phone2" class="sr-only">{{ 'TELEFON' | translate }} 2:</label>
                    <input type="text" name="phone2" data-ng-model="form.phone2" class="form-control" placeholder="{{ 'TELEFON' | translate }} 2" data-ng-disabled="!step2Ready"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-9">
                    <label for="address" class="sr-only">{{ 'ADRECA' | translate }}*:</label>
                    <input type="text" name="address" data-ng-model="form.address" class="form-control" placeholder="{{ 'ADRECA' | translate }}*" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required />
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.address.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="form-group col-xs-3">
                    <label for="postalcode" class="sr-only">{{ 'CODI_POSTAL' | translate }}*:</label>
                    <input type="text" name="postalcode" data-ng-model="form.postalcode" class="form-control" placeholder="{{ 'CODI_POSTAL' | translate }}*" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required />
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.postalcode.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-6">
                    <label for="province" class="sr-only">{{ 'PROVINCIA' | translate }}</label>
                    <select class="form-control" name="province" data-ng-model="form.province" data-ng-options="province.name for province in provinces" data-ng-change="updateSelectedCity(form)" data-ng-disabled="!step2Ready" required>
                        <option value="">{{ 'PROVINCIA' | translate }}*</option>
                    </select>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.province.$invalid">{{ 'OBLIGATORI' | translate }}</span>
                </div>
                <div class="form-group col-xs-6">
                    <label for="city" class="sr-only">{{ 'POBLACIO' | translate }}</label>
                    <select class="form-control" name="city" data-ng-model="form.city" data-ng-options="city.name for city in cities" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required >
                        <option value="">{{ 'POBLACIO' | translate }}*</option>
                    </select>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.city.$invalid">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
            <div class="row">
                <div class="form-group checkbox col-xs-12">
                    <label for="accept">
                        <input name="accept" type="checkbox" value="accept" data-ng-model="form.accept" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required />
                        <span data-ng-bind-html="'ACCEPTO_POLITICA_PRIVACITAT' | translate"></span>
                    </label>
                    <span class="label label-danger" data-ng-show="submitted && partnerForm.accept.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                </div>
            </div>
        </div>
    </div>
    <hr>

    <!--THIRD STEP-->
    <div class="row">
        <div class="col-xs-1">
            <span class="badge" data-ng-class="{current: step3Ready}">3</span>
        </div>
        <div class="col-xs-11">
            <div class="row">
                <div class="form-group col-xs-12">
                    <span>{{ 'METODE_PAGAMENT' | translate }}&nbsp;</span>
                    <div class="btn-group" data-toggle="buttons" data-ng-click="firstPaymentMethodClick(form)">
                        <label for="paymentmethod1" class="btn btn-default green" data-ng-disabled="!step3Ready">
                            <input type="radio" name="paymentmethod1" id="paymentmethod1" data-ng-model="form.payment" value="bankaccount"> {{ 'REBUT_BANCARI' | translate }}
                        </label>
                        <label for="paymentmethod2" class="btn btn-default green" data-ng-disabled="!step3Ready">
                            <input type="radio" name="paymentmethod2" id="paymentmethod2" data-ng-model="form.payment" value="creditcard"> {{ 'TARGETA_CREDIT' | translate }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-2">
                    <span>{{ 'COST' | translate }}:</span>
                </div>
                <div class="col-xs-2">
                    <strong>{{ 'REBUT_BANCARI' | translate }}: 0€</strong>
                </div>
                <div class="col-xs-6">
                    <strong>{{ 'TARGETA_CREDIT' | translate }}: 1,8€</strong>
                </div>
            </div>
            <div class="alert alert-info grey">
                <span data-ng-bind-html="'INFO_APORTACIO' | translate"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <button data-ng-disabled="!submitReady" data-ng-click="submit(partnerForm)" class="btn btn-default green">{{ 'FINALITZA_PROCES' | translate }}</button>
        </div>
    </div>
<!-- END FORM-->
</form>

<!--OFFLINE API MODAL-->
<div id="api-server-offline-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="Webforms" data-aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-body">
            <div class="alert alert-warning"><h3><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;{{ 'FORMULARI_NO_DISPONIBLE' | translate }}</h3></div>
            <div class="alert alert-danger">ERROR: {{ errorMsg }}</div>
        </div>
    </div>
</div>