<!--GLOBAL MESSAGES-->
<div class="row" data-ng-include data-src="'views/common/global-messages.html'"></div>

<!--HEADER-->
<div class="row">
    <div class="col-xs-12">
        <h1>{{ 'FORMULARI_CONTRACTACIO' | translate }}</h1>
    </div>
</div>

<!-- BEGIN INIT FORM-->
<form name="initForm" class="form-inline" role="form" novalidate>
    <!--FIRST STEP-->
    <div class="row">
        <div class="form-group col-xs-2">
            <label for="socinumber" class="sr-only">{{ 'NUMERO_SOCI' | translate }}*</label>
            <input type="text" name="socinumber" data-ng-model="form.init.socinumber" class="form-control" placeholder="{{ 'NUMERO_SOCI' | translate }}*" data-ng-change="formListener(form.init)" required />
            <span class="label label-danger" data-ng-show="initFormSubmitted && initForm.socinumber.$error.required">{{ 'OBLIGATORI' | translate }}</span>
        </div>
        <div class="col-xs-2">
            <label for="dni" class="sr-only">DNI/NIE/CIF*</label>
            <input type="text" name="dni" data-ng-model="form.init.dni" class="form-control" placeholder="DNI/NIE/CIF*" data-ng-change="formListener(form.init)" required />
            <span class="label label-danger" data-ng-show="initFormSubmitted && initForm.dni.$error.required">{{ 'OBLIGATORI' | translate }}</span>
            <span class="label label-danger" data-ng-show="dniIsInvalid">{{ 'INVALID' | translate }}</span>
        </div>
        <div class="col-xs-1">
            <span id="helpPopover" class="badge current small" data-container="body" data-toggle="popover" data-placement="top" data-content="{{ 'HELP_POPOVER' | translate }}">?</span>
        </div>
        <div class="col-xs-7">
            <button data-ng-disabled="!initSubmitReady" data-ng-click="initSubmit(initForm)" class="btn btn-default grey pull-right">{{ 'CARREGAR_DADES_SOCI_VINCULAT' | translate }}</button>
        </div>
    </div>
    <div class="row" data-ng-if="showBeginOrderForm">
        <div class="col-xs-2">
            {{ 'SOCI_VINCULAT' | translate }}:
        </div>
        <div class="col-xs-10">
            <input type="text" name="address" class="form-control" placeholder="{{ soci.nom + ' ' + soci.cognom }}" disabled />
        </div>
    </div>
    <div class="row" data-ng-if="showUnknownSociWarning">
        <div class="col-xs-12">
            <h3><span class="label label-danger">{{ 'NO_TROBEM_CAP_SOCI_VINCULAT' | translate }}</span></h3>
            <p>{{ 'NO_ETS_SOCI_FES_TE_AQUI' | translate }}</p>
        </div>
    </div>
    <div class="row" data-ng-if="showBeginOrderForm && !showUnknownSociWarning">
        <div class="col-xs-12">
            <button data-ng-click="initOrderForm()" class="btn btn-default green pull-right">{{ 'INICIAR_CONTRACTACIO' | translate }}</button>
        </div>
    </div>
</form>


<!-- BEGIN INIT FORM-->
<form name="orderForm" class="form-inline" role="form" data-ng-if="showStep1Form" novalidate>
    <!--SECOND STEP-->
    <div class="row">
        <div class="col-xs-12">
            <h2>1 {{ 'DADES_PUNT_SUBMINISTRAMENT' | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="address" class="sr-only">{{ 'ADRECA' | translate }}*:</label>
            <input type="text" name="address" data-ng-model="soci.adreca" class="form-control" placeholder="{{ 'ADRECA' | translate }}*" data-ng-change="formListener(form)" required />
            <span class="label label-danger" data-ng-show="submitted && orderForm.address.$error.required">{{ 'OBLIGATORI' | translate }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <label for="province">{{ 'PROVINCIA' | translate }}</label>
        </div>
        <div class="col-xs-5">
            <select class="form-control" name="province" data-ng-model="form.province" data-ng-options="province.name for province in provinces" data-ng-change="updateSelectedCity(form)" required>
                <option value="">{{ 'PROVINCIA' | translate }}*</option>
            </select>
            <span class="label label-danger" data-ng-show="submitted && partnerForm.province.$invalid">{{ 'OBLIGATORI' | translate }}</span>
        </div>
        <div class="col-xs-1">
            <label for="city">{{ 'POBLACIO' | translate }}</label>
        </div>
        <div class="form-group col-xs-5">
            <select class="form-control" name="city" data-ng-model="form.city" data-ng-options="city.name for city in cities" data-ng-change="formListener(form)" data-ng-disabled="!step2Ready" required >
                <option value="">{{ 'POBLACIO' | translate }}*</option>
            </select>
            <span class="label label-danger" data-ng-show="submitted && partnerForm.city.$invalid">{{ 'OBLIGATORI' | translate }}</span>
        </div>
    </div>
</form>

<!--OFFLINE API MODAL-->
<div id="api-server-offline-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="Webforms" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/offline-api-modal.html'"></div>
</div>

<!--INITILIZE ONLOAD-->
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery('#helpPopover').popover()
    });
</script>