<!--GLOBAL MESSAGES-->
<div class="row" data-ng-include data-src="'views/common/global-messages.html'"></div>

<!--HEADER-->
<div class="row">
    <div class="col-xs-12">
        <h1>{{ 'FORMULARI_CONTRACTACIO' | translate }}</h1>
    </div>
</div>

<!-- BEGIN INIT FORM-->
<form name="initForm" class="form-inline" role="form" novalidate>
    <!--FIRST STEP-->
    <div class="row">
        <div class="form-group col-xs-2">
            <label for="socinumber" class="sr-only">{{ 'NUMERO_SOCI' | translate }}*</label>
            <input type="text" name="socinumber" data-ng-model="form.init.socinumber" class="form-control" placeholder="{{ 'NUMERO_SOCI' | translate }}*" data-ng-change="formListener(form.init)" required />
            <span class="label label-danger" data-ng-show="initFormSubmitted && initForm.socinumber.$error.required">{{ 'OBLIGATORI' | translate }}</span>
        </div>
        <div class="col-xs-2">
            <label for="dni" class="sr-only">DNI/NIE/CIF*</label>
            <input type="text" name="dni" data-ng-model="form.init.dni" class="form-control" placeholder="DNI/NIE/CIF*" data-ng-change="formListener(form.init)" required />
            <span class="label label-danger" data-ng-show="initFormSubmitted && initForm.dni.$error.required">{{ 'OBLIGATORI' | translate }}</span>
            <span class="label label-danger" data-ng-show="dniIsInvalid">{{ 'INVALID' | translate }}</span>
        </div>
        <div class="col-xs-1">
            <span class="badge current small" data-popover="{{ 'HELP_POPOVER' | translate }}">?</span>
        </div>
        <div class="col-xs-7">
            <button data-ng-disabled="!initSubmitReady" data-ng-click="initSubmit(initForm)" class="btn btn-default grey pull-right">{{ 'CARREGAR_DADES_SOCI_VINCULAT' | translate }}</button>
        </div>
    </div>
    <div class="row" data-ng-if="showBeginOrderForm">
        <div class="col-xs-2">
            {{ 'SOCI_VINCULAT' | translate }}:
        </div>
        <div class="col-xs-10">
            <input type="text" name="address" class="form-control" placeholder="{{ soci.nom + ' ' + soci.cognom }}" disabled />
        </div>
    </div>
    <div class="row" data-ng-if="showUnknownSociWarning">
        <div class="col-xs-12">
            <h3><span class="label label-danger">{{ 'NO_TROBEM_CAP_SOCI_VINCULAT' | translate }}</span></h3>
            <p>{{ 'NO_ETS_SOCI_FES_TE_AQUI' | translate }}</p>
        </div>
    </div>
    <div class="row" data-ng-if="showBeginOrderForm && !showUnknownSociWarning">
        <div class="col-xs-12">
            <button data-ng-click="initOrderForm()" class="btn btn-default green pull-right">{{ 'INICIAR_CONTRACTACIO' | translate }}</button>
        </div>
    </div>
</form>


<!-- BEGIN INIT FORM-->
<form name="orderForm" class="form-inline" role="form" data-ng-if="showStep1Form" novalidate>
    <!--SECOND STEP-->
    <div class="row">
        <div class="col-xs-12">
            <h2>1 {{ 'DADES_PUNT_SUBMINISTRAMENT' | translate }}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label for="address" class="sr-only">{{ 'ADRECA' | translate }}*:</label>
            <input type="text" name="address" data-ng-model="form.address" class="form-control" placeholder="{{ 'ADRECA' | translate }}*" data-ng-change="formListener(form)" required />
            <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.address.$error.required">{{ 'OBLIGATORI' | translate }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">
            <label for="province">{{ 'PROVINCIA' | translate }}</label>
        </div>
        <div class="col-xs-5">
            <select class="form-control" name="province" data-ng-model="form.province" data-ng-options="province.name for province in provinces" data-ng-change="updateSelectedCity(form)" required>
                <option value="">{{ 'PROVINCIA' | translate }}*</option>
            </select>
            <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.province.$error.required">{{ 'OBLIGATORI' | translate }}</span>
        </div>
        <div class="col-xs-1">
            <label for="city">{{ 'POBLACIO' | translate }}</label>
        </div>
        <div class="form-group col-xs-5">
            <select class="form-control" name="city" data-ng-model="form.city" data-ng-options="city.name for city in cities" data-ng-change="formListener(form)" required >
                <option value="">{{ 'POBLACIO' | translate }}*</option>
            </select>
            <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.city.$error.required">{{ 'OBLIGATORI' | translate }}</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-7">
            <label for="cups" class="sr-only">{{ 'NUMERO_DE_CUPS' | translate }}*</label>
            <input type="text" name="cups" data-ng-model="form.cups" class="form-control" placeholder="{{ 'NUMERO_DE_CUPS' | translate }}*" data-ng-change="formListener(form)" required />
            <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.cups.$error.required">{{ 'OBLIGATORI' | translate }}</span>
            <span class="label label-danger" data-ng-show="cupsIsInvalid">{{ 'INVALID' | translate }}</span>
        </div>
        <div class="col-xs-1">
            <span class="badge current small" data-popover="{{ 'HELP_POPOVER_CUPS' | translate }}">?</span>
        </div>
        <div class="col-xs-3">
            <label for="cnae" class="sr-only">CNAE*</label>
            <input type="text" name="cnae" data-ng-model="form.cnae" class="form-control" placeholder="CNAE*" data-ng-change="formListener(form)" required />
            <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.cnae.$error.required">{{ 'OBLIGATORI' | translate }}</span>
            <span class="label label-danger" data-ng-show="cnaeIsInvalid">{{ 'INVALID' | translate }}</span>
        </div>
        <div class="col-xs-1">
            <span class="badge current small" data-popover="{{ 'HELP_POPOVER_CNAE' | translate }}">?</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label for="power">{{ 'QUINA_POTENCIA_TENS_CONTRACTADA' | translate }}?*</label>
        </div>
        <div class="col-xs-4">
            <input type="text" name="power" data-ng-model="form.power" class="form-control" data-ng-change="formListener(form)" required />&nbsp;kW
            <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.power.$error.required">{{ 'OBLIGATORI' | translate }}</span>
        </div>
        <div class="col-xs-1">
            <span class="badge current small" data-popover="{{ 'HELP_POPOVER_POWER' | translate }}">?</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label for="rate">{{ 'QUINA_TARIFA_TENS_CONTRACTADA' | translate }}?*</label>
        </div>
        <div class="col-xs-4">
            <select class="form-control" name="rate" data-ng-model="form.rate" required>
                <option value="">{{ 'SELECCIONAR' | translate }}</option>
                <option data-ng-repeat="rate in rates" value="{{ rate }}" data-ng-selected="{{ rate == form.rate }}">{{ rate }}</option>
            </select>
        </div>
        <div class="col-xs-1">
            <span class="badge current small" data-popover="{{ 'HELP_POPOVER_RATE' | translate }}">?</span>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <strong>{{ 'INFORMACIO_OPCIONAL' | translate }}</strong>&nbsp;<span class="badge current small" data-popover="{{ 'HELP_POPOVER_OPTIONAL_INFO' | translate }}">?</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4">
            <label for="estimation" class="sr-only">{{ 'CONSUM_ANUAL_ESTIMAT' | translate }}:</label>
            <input type="text" name="estimation" data-ng-model="form.estimation" class="form-control" placeholder="{{ 'CONSUM_ANUAL_ESTIMAT' | translate }}" data-ng-change="formListener(form)" />
        </div>
        <div class="col-xs-8">
            <label for="catastre" class="sr-only">{{ 'REFERENCIA_CATASTRAL' | translate }}:</label>
            <input type="text" name="catastre" data-ng-model="form.catastre" class="form-control" placeholder="{{ 'REFERENCIA_CATASTRAL' | translate }}" data-ng-change="formListener(form)" />
        </div>
    </div>
</form>

<!--OFFLINE API MODAL-->
<div id="api-server-offline-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="Webforms" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/offline-api-modal.html'"></div>
</div>

<!--INITILIZE ONLOAD-->
<!--<script type="text/javascript">-->
    <!--jQuery(document).ready(function() {-->
        <!--jQuery('#helpPopover').popover();-->
        <!--jQuery('#helpPopoverCUPS').popover();-->
        <!--jQuery('#helpPopoverCNAE').popover();-->
    <!--});-->
<!--</script>-->