<!--GLOBAL MESSAGES-->
<div ng-cloak>
<div class="row" data-ng-include data-src="'views/common/global-messages.html'"></div>

<div ng-if='developing' data-ng-include data-src="'views/common/responsive-display.html'"></div>

<div data-ng-show="!wizardPage.current!='confirmationPage' || showAll">
    <!-- Page: dadesSociPage -->
    <wizard-page
        model="wizardPage"
        header="{{ 'FORMULARI_CONTRACTACIO' | translate }}"
        page-name='dadesSociPage'
        next-page="goToHaveLightPage()"
        show-always='showAll'
        ready="initForm.isReady()"
        hide-buttons
    >
        <member-chooser
            button-text="{{'INICIAR_CONTRACTACIO' | translate }}"
            show-member-name="true"
            onproceed="setOwnerAndPayerLanguage(initForm.soci); goToSupplyPointPage()"
            model="initForm"
            formvalues="formsoci"
        ></member-chooser>
    </wizard-page>

    <form name="orderForm" class="form-inline" role="form" enctype="multipart/form-data" novalidate>

        <!-- PAGE: Supply Point -->
        <wizard-page
            model="wizardPage"
            page-name='supplyPointPage'
            header="1 {{ 'DADES_PUNT_SUBMINISTRAMENT' | translate }}"
            prev-page="goToSociPage()"
            next-page="goToFarePage()"
            show-always='showAll'
            ready="isSupplyPointPageComplete()"
        >
            <div class="row extra-margin-top">
                <div class="col-xs-12 form-group">
                    <div class="panel panel-warning">
                        <div class="panel-heading" style="text-align:center">{{ 'HI_HA_LLUM_AL_PUNT_DE_SUBMINISTRAMENT' | translate }}
                            <span class="form-control-feedback glyphicon pull-right"  data-ng-class="{
                                'glyphicon-asterisk danger': form.hasservice === undefined,
                            }" style="right:2em"></span>
                        </div>
                        <div class="panel-body" style="text-align:center">
                            <div class="btn-group btn-group-justified">
                                <label class="btn btn-default green"
                                    style="white-space:normal"
                                    data-ng-change="formListener()"
                                    data-ng-model="form.hasservice"
                                    data-uib-btn-radio="true"
                                    data-ng-bind-html="'AVIS_CANVI_COMERCIALITZADORA' | translate"
                                    ></label>
                                <label class="btn btn-default green"
                                    style="white-space:normal"
                                    data-ng-change="formListener()"
                                    data-ng-model="form.hasservice"
                                    data-uib-btn-radio="false"
                                    data-ng-bind-html="'AVIS_ALTA_DE_SERVEI' | translate"
                                    ></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <iban-editor
                    class="col-xs-12 col-sm-8"
                    required
                    inputid="address"
                    placeholder="{{'ADRECA' | translate}}"
                    help="adrecaHelp"
                    model="form.address"
                    quietlabels='true'
                    onchanged="formListener()"
                    >
                </iban-editor>
            </div>
            <div class="row">
                <state-city
                    state-model="form.province"
                    city-model="form.city"
                    quietlabels='true'
                    onchanged="formListener()"
                    >
                </state-city>
            </div>
            <div class="row">
                <iban-editor
                    class="col-xs-12 col-sm-8"
                    required
                    inputid="cups"
                    placeholder="{{'NUMERO_DE_CUPS' | translate}}"
                    help-text="{{ (esAlta() ? 'HELP_POPOVER_CUPS_ALTA' : 'HELP_POPOVER_CUPS') | translate: {url: t.HELP_POPOVER_CUPS_ALTA_URL } }}"
                    checkurl="check/cups/"
                    model="cupsEditor"
                    quietlabels='true'
                    onchanged="formListener()"
                >
                    <span class="pull-right label label-danger" data-ng-show="cupsEditor.error==='exist'">{{ 'CUPS_EXISTENT' | translate }}</span>
                </iban-editor>
            </div>
            <div class="row">
                <iban-editor
                    class="col-xs-12 col-sm-8"
                    required
                    inputid="cnae"
                    placeholder="{{'CNAE' | translate}}"
                    help-text="{{ 'HELP_POPOVER_CNAE' | translate }}"
                    checkurl="check/cnae/"
                    model="cnaeEditor"
                    oktext="{{cnaeEditor.data.description}}"
                    quietlabels='true'
                    onchanged="formListener()"
                >
                </iban-editor>
            </div>
            <div class="row">
                <iban-editor
                    class="col-xs-12 col-sm-8"
                    notrequired
                    inputid="cadastre"
                    placeholder="{{'REFERENCIA_CADASTRAL' | translate}} ({{'OPCIONAL' | translate }})"
                    help-text="{{ 'HELP_POPOVER_REFERENCIA_CADASTRAL' | translate }}"
                    model="cadastreEditor"
                    quietlabels='true'
                    onchanged="formListener()"
                >
                </iban-editor>
            </div>
            <div class="row">
                <som-file-field
                    data-ng-show="!esAlta()"
                    class="col-xs-12 col-sm-8"
                    inputid="fileuploaderinput"
                    model="form.invoice"
                    description="{{'ADJUNTAR_ULTIMA_FACTURA' | translate}}"
                    help-text="{{'HELPER_ADJUNTAR_ULTIMA_FACTURA' | translate}}"
                    formats="image/jpeg,application/pdf"
                    maxsize="{{maxfilesize}}"
                    onchanged="formListener()"
                ></som-file-field>
                <som-file-field
                    class="col-xs-12 col-sm-8"
                    data-ng-show="esAlta() === true"
                    inputid="documentation"
                    model="form.documentation"
                    description="{{'ADJUNTAR_BUTLLETI' | translate}}"
                    help-text="{{'HELP_ADJUNTAR_BUTLLETI' | translate: {url: t.HELP_ADJUNTAR_BUTLLETI_URL } }}"
                    multiple
                    formats="image/jpeg,application/pdf"
                    maxsize="{{maxfilesize}}"
                    onchanged="formListener()"
                ></som-file-field>
            </div>
            <div class="row extra-margin-top" data-ng-show="supplyPointPageError">
                <div class="alert alert-danger" translate="{{supplyPointPageError}}"></div>
            </div>
        </wizard-page>

        <!-- Page: Fares -->
        <wizard-page
            model="wizardPage"
            page-name='farePage'
            header="2 {{ 'TARIFA_I_POTENCIA' | translate }}"
            prev-page="goToSupplyPointPage()"
            next-page="goToOwnerPage()"
            show-always='showAll'
            ready="isFarePageComplete()"
        >
            <div data-ng-show="esAlta() || showAll">
                <div class="row extra-margin-top">
                    <div class="col-xs-12">
                        <p class="lead" translate="HELP_TARIFA_ALTA"></p>
                    </div>
                </div>
                <div class="row extra-margin-top form-group">
                    <div class="col-xs-4">
                        <label for="phases">{{ 'TIPUS_INSTALLACIO' | translate }}</label>
                    </div>
                    <div class="col-xs-8">
                        <div class='input-group has-feedback'>
                            <select class="form-control input-lg" ng-model="form.phases" required>
                                <option value='' selected>{{ 'SELECCIONA' | translate}}</option>
                                <option value="mono">{{ 'MONOFASICA_NORMAL' | translate}}</option>
                                <option value="tri">{{ 'TRIFASICA' | translate}}</option>
                            </select>
                            <span class="form-control-feedback glyphicon "  data-ng-class="{
                                'glyphicon-asterisk danger': form.phases === undefined,
                                'glyphicon-ok success': form.phases !== undefined,
                            }" style="right:4em"></span>
                            <a
                                role="button"
                                tabindex="-1"
                                class="btn btn-default input-group-addon"
                                tooltip-append-to-body="true"
                                tooltip-trigger="focus"
                                tooltip-placement="left"
                                tooltip-html="'HELP_INSTALL_TYPE' | translate: {url: t.HELP_INSTALL_TYPE_URL }"
                                >
                                <span class="badge current small">?</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row extra-margin-top form-group">
                    <div class="col-xs-4">
                        <label>{{ 'POTENCIA_A_CONTRACTAR' | translate }}</label>
                    </div>
                    <div class="col-xs-8">
                        <div class='input-group has-feedback'>
                            <select class="input-lg form-control" required ng-model='form.newpower' >
                                <option value='' selected>{{ 'SELECCIONA' | translate}}</option>
                                <option
                                    ng-repeat="power in availablePowers()"
                                    value="{{power}}"
                                    style="background-color: {{power > 10? '#ae7':'#df9' }}"
                                    >{{power}} kW</option>
                                <option ng-if="form.phases==='tri'" value='15'>{{ 'MES_GRAN_DE_15KW' | translate}}</option>
                            </select>
                            <span class="form-control-feedback glyphicon "  data-ng-class="{
                                'glyphicon-asterisk danger': form.newpower === undefined,
                                'glyphicon-ok success': form.newpower !== undefined,
                            }" style="right:4em"></span>
                            <a
                                role="button"
                                tabindex="-1"
                                class="btn btn-default input-group-addon"
                                tooltip-append-to-body="true"
                                tooltip-trigger="focus"
                                tooltip-placement="left"
                                tooltip-html="'HELP_POTENCIA' | translate: {url: t.HELP_POTENCIA_URL }"
                                >
                                <span class="badge current small">?</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row extra-margin-top" data-ng-hide="form.newpower=='15'">
                    <div class="col-xs-4">
                        {{ 'DISCRIMINACIO_HORARIA' | translate }}
                    </div>
                    <div class="col-xs-8">
                        <div class='input-group has-feedback'>
                            <select class="input-lg form-control" ng-model="form.discriminacio" required>
                                <option value='' selected>{{ 'SELECCIONA' | translate}}</option>
                                <option value='nodh'>{{ 'SENSE_DISCRIMINACIO_HORARIA' | translate}}</option>
                                <option value='dh'>{{ 'AMB_DISCRIMINACIO_HORARIA' | translate}}</option>
                            </select>
                            <span class="form-control-feedback glyphicon "  data-ng-class="{
                                'glyphicon-asterisk danger': form.discriminacio === undefined,
                                'glyphicon-ok success': form.discriminacio !== undefined,
                            }" style="right:4em"></span>
                            <a
                                role="button"
                                tabindex="-1"
                                class="btn btn-default input-group-addon"
                                tooltip-append-to-body="true"
                                tooltip-trigger="focus"
                                tooltip-placement="left"
                                tooltip-html="'HELP_DISCRIMINACIO_HORARIA' | translate: {url: t.HELP_DISCRIMINACIO_HORARIA_URL}"
                                >
                                <span class="badge current small">?</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div data-ng-if="form.newpower == '15'">
                    <div class="row from-group">
                        <div class="col-xs-4">
                            <label>{{ 'ESCULL_LA_POTENCIA_DE_CADA_PERIODE' | translate }}</label>
                        </div>
                        <div class="col-xs-7">
                            <div class='input-group has-feedback'>
                                <span class="input-group-addon">P1</span>
                                <input type="text" class="input-lg form-control" data-ng-change="formListener()" required
                                    data-ng-model="form.power" name="power"
                                    />
                                <span class="form-control-feedback glyphicon "  data-ng-class="{
                                    'glyphicon-remove danger': rate3AIsInvalid,
                                    'glyphicon-asterisk danger': form.power === undefined || form.power === '',
                                    'glyphicon-ok success': form.power !== undefined && form.power !== '',
                                }" style="right:4em"></span>
                                <span class="input-group-addon">kW</span>
                            </div>
                            <div class="input-group has-feedback">
                                <span class="input-group-addon">P2</span>
                                <input type="text" class="input-lg form-control" data-ng-change="formListener()" required
                                    name="power2" data-ng-model="form.power2" 
                                    />
                                <span class="input-group-addon">kW</span>
                                <span class="form-control-feedback glyphicon "  data-ng-class="{
                                    'glyphicon-asterisk danger': form.power2 === undefined || form.power === '',
                                    'glyphicon-remove danger': rate3AIsInvalid,
                                    'glyphicon-ok success': form.power2 !== undefined,
                                }" style="right:4em"></span>
                            </div>
                            <div class="input-group has-feedback">
                                <span class="input-group-addon">P3</span>
                                <input type="text" class="input-lg form-control" data-ng-change="formListener()" required
                                    name="power3" data-ng-model="form.power3"
                                    />
                                <span class="form-control-feedback glyphicon "  data-ng-class="{
                                    'glyphicon-remove danger': rate3AIsInvalid,
                                    'glyphicon-asterisk danger': form.power3 === undefined || form.power === '',
                                    'glyphicon-ok success': form.power3 !== undefined,
                                }" style="right:4em"></span>
                                <span class="input-group-addon">kW</span>
                            </div>
                            <span class="pull-right label label-danger" data-ng-show="orderFormSubmitted && orderForm.power3.$error.required ">{{ 'OBLIGATORI' | translate }}</span>
                            <span class="pull-right label label-danger" data-ng-show="rate3AIsInvalid">{{ 'ALGUN_DELS_TRES_PERIODES_MAJOR_QUE_15' | translate }}</span>
                        </div>
                        <div class="col-xs-1">
                            <a
                                class='btn btn-default pull-right'
                                role="button"
                                tabindex="-1"
                                tooltip-append-to-body="true"
                                tooltip-trigger="focus"
                                tooltip-html="'HELP_POWER_30' | translate: {url: t.HELP_POWER_30_URL}"
                                tooltip-placement="left"
                                >
                                <span class="badge current small">?</span></a>
                        </div>
                    </div>
                </div>
                <div class="row extra-margin-top" data-ng-show="form.rate !== undefined">
                    <div class="col-xs-12">
                        <div class="well" style="text-align:center">
                        <h4>{{ 'LA_TEVA_TARIFA_ES' | translate }} <span class="label label-success large">{{ form.rate }}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
            <hr data-ng-show="showAll" />
            <div data-ng-show="!esAlta() || showAll">
                <div class="row extra-margin-top">
                    <div class="col-xs-12">
                        <p class="lead" translate="HELP_TARIFA_CANVI_COMERCIALITZADORA"></p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-xs-4">
                        <label>{{ 'QUINA_TARIFA_TENS_CONTRACTADA' | translate }}</label>
                    </div>
                    <div class="col-xs-8">
                        <div class="input-group has-feedback">
                            <select class="input-lg form-control" name="rate" data-ng-model="form.rate" required>
                                <option value="">{{ 'SELECCIONAR' | translate }}</option>
                                <option data-ng-repeat="rate in rates" value="{{ rate }}" data-ng-selected="{{ rate == form.rate }}">{{ rate }}</option>
                            </select>
                            <span class="form-control-feedback glyphicon "  data-ng-class="{
                                'glyphicon-asterisk danger': form.rate === undefined,
                                'glyphicon-ok success': form.rate !== undefined,
                            }" style="right:4em"></span>
                            <a
                                role="button"
                                tabindex="-1"
                                class="btn btn-default input-group-addon"
                                tooltip-append-to-body="true"
                                tooltip-trigger="focus"
                                tooltip-placement="left"
                                tooltip-html="'HELP_POPOVER_RATE' | translate: {url: t.HELP_POPOVER_RATE_URL}"
                                >
                                <span class="badge current small">?</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!--3.0A power rate NOT selected-->
                <div class="row form-group" data-ng-if="form.rate != '3.0A'">
                    <div class="col-xs-4">
                        <label>{{ 'QUINA_POTENCIA_TENS_CONTRACTADA' | translate }}</label>
                    </div>
                    <div class="col-xs-8">
                        <div class="input-group has-feedback">
                            <input type="text" name="power" class="form-control input-lg" data-ng-model="form.power" data-ng-change="formListener()" required/>
                            <span class="input-group-addon">kW</span>
                            <a
                                role="button"
                                tabindex="-1"
                                class="btn btn-default input-group-addon"
                                tooltip-append-to-body="true"
                                tooltip-trigger="focus"
                                tooltip-placement="left"
                                tooltip-html="'HELP_POPOVER_POWER' | translate"
                                >
                                <span class="badge current small">?</span>
                            </a>
                            <span class="form-control-feedback glyphicon "  data-ng-class="{
                                'glyphicon-asterisk danger': form.power === undefined,
                                'glyphicon-ok success': form.power !== undefined,
                            }" style="right:7em"></span>
                        </div>
                        <span class="pull-right label label-danger" data-ng-show="rate20IsInvalid">{{ 'INVALID' | translate }}</span>
                        <span class="pull-right label label-danger" data-ng-show="rate21IsInvalid">{{ 'INVALID' | translate }}</span>
                        <span class="pull-right label label-danger" data-ng-show="orderFormSubmitted && orderForm.power.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    </div>
                </div>
                <!--3.0A power rate selected-->
                <div data-ng-if="form.rate == '3.0A'">
                    <div class="row from-group">
                        <div class="col-xs-4">
                            <label>{{ 'QUINA_POTENCIA_TENS_CONTRACTADA' | translate }}*</label>
                        </div>
                        <div class="col-xs-7">
                            <div class='input-group has-feedback'>
                                <span class="input-group-addon">P1</span>
                                <input type="text" class="input-lg form-control" data-ng-change="formListener()" required
                                    data-ng-model="form.power" name="power"
                                    />
                                <span class="form-control-feedback glyphicon "  data-ng-class="{
                                    'glyphicon-remove danger': rate3AIsInvalid,
                                    'glyphicon-asterisk danger': form.power === undefined || form.power === '',
                                    'glyphicon-ok success': form.power !== undefined && form.power !== '',
                                }" style="right:4em"></span>
                                <span class="input-group-addon">kW</span>
                            </div>
                            <div class="input-group has-feedback">
                                <span class="input-group-addon">P2</span>
                                <input type="text" class="input-lg form-control" data-ng-change="formListener()" required
                                    name="power2" data-ng-model="form.power2" 
                                    />
                                <span class="input-group-addon">kW</span>
                                <span class="form-control-feedback glyphicon "  data-ng-class="{
                                    'glyphicon-asterisk danger': form.power2 === undefined || form.power === '',
                                    'glyphicon-remove danger': rate3AIsInvalid,
                                    'glyphicon-ok success': form.power2 !== undefined,
                                }" style="right:4em"></span>
                            </div>
                            <div class="input-group has-feedback">
                                <span class="input-group-addon">P3</span>
                                <input type="text" class="input-lg form-control" data-ng-change="formListener()" required
                                    name="power3" data-ng-model="form.power3"
                                    />
                                <span class="form-control-feedback glyphicon "  data-ng-class="{
                                    'glyphicon-remove danger': rate3AIsInvalid,
                                    'glyphicon-asterisk danger': form.power3 === undefined || form.power === '',
                                    'glyphicon-ok success': form.power3 !== undefined,
                                }" style="right:4em"></span>
                                <span class="input-group-addon">kW</span>
                            </div>
                            <span class="pull-right label label-danger" data-ng-show="orderFormSubmitted && orderForm.power3.$error.required ">{{ 'OBLIGATORI' | translate }}</span>
                            <span class="pull-right label label-danger" data-ng-show="rate3AIsInvalid">{{ 'ALGUN_DELS_TRES_PERIODES_MAJOR_QUE_15' | translate }}</span>
                        </div>
                        <div class="col-xs-1">
                            <a
                                class='btn btn-default pull-right'
                                role="button"
                                tabindex="-1"
                                tooltip-append-to-body="true"
                                tooltip-trigger="focus"
                                tooltip-html="'HELP_POWER_30' | translate: {url: t.HELP_POWER_30_URL}"
                                tooltip-placement="left"
                                >
                                <span class="badge current small">?</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row extra-margin-top" data-ng-show="farePageError">
                <div class="alert alert-danger" translate="{{farePageError}}"></div>
            </div>
        </wizard-page>

        <!-- Page: Owner data -->
        <wizard-page
            model="wizardPage"
            page-name='ownerPage'
            header="3 {{ 'DADES_TITULAR_NOU_CONTRACTE' | translate }}"
            prev-page="goToFarePage()"
            next-page="goToPayerPage()"
            show-always='showAll'
            ready="isOwnerPageComplete()"
        >
            <div data-ng-hide='esAlta()' class="row extra-margin-top">
                <div class="col-xs-12 form-group">
                    <div class="panel panel-warning">
                        <div class="panel-heading" style="text-align:center">{{ 'VOLS_MANTENIR_EL_TITULAR' | translate }}
                            <span class="form-control-feedback glyphicon pull-right"  data-ng-class="{
                                'glyphicon-asterisk danger': form.changeowner === undefined,
                            }" style="right:2em"></span>
                        </div>
                        <div class="panel-body" style="text-align:center">
                            <div class="btn-group btn-group-justified">
                                <label class="btn btn-default green"
                                    style="white-space:normal"
                                    data-ng-change="formListener()"
                                    data-ng-model="form.changeowner"
                                    data-uib-btn-radio="'no'"
                                    data-ng-bind-html="'NO_CANVI_DE_TITULAR' | translate"
                                    ></label>
                                <label class="btn btn-default green"
                                    style="white-space:normal"
                                    data-ng-change="formListener()"
                                    data-ng-model="form.changeowner"
                                    data-uib-btn-radio="'yes'"
                                    data-ng-bind-html="'SI_CANVI_DE_TITULAR' | translate"
                                    ></label>
                            </div>
                        </div>
                    </div>
                    <div data-ng-show="form.changeowner==='yes'" class="alert alert-warning" style="margin-top:5px" role="alert">
                        <span data-ng-bind-html="'AVIS_CANVI_TITULAR' | translate"></span>
                    </div>
                </div>
            </div>
            <div class="row" ng-class="{'extra-margin-top': esAlta()}">
                <div class="col-sm-7 col-xs-12">
                    <label>{{ 'QUI_ES_LA_PERSONA_TITULAR' | translate }}</label>
                    <select class="form-control input-lg" data-ng-model="form.ownerIsMember" data-ng-change="formListener()">
                        <option value="yes" selected>{{ initForm.soci.nom + ' ' + initForm.soci.cognom }} ({{ 'SOCI_SOM_ENERGIA' | translate }}) </option>
                        <option value="no">{{ 'ALTRA_PERSONA' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="well" data-ng-show="form.ownerIsMember === 'no'">
                <personal-data
                    model="owner"
                    onchanged="formListener()"
                ></personal-data>
            </div>
            <!-- (TITULAR_PARTICULAR || TITULAR_EMPRESA) & SOCI_VINCULAT_SI (page 06 & 12) (page 09 & 15) -->
            <div class="row">
                <div class="form-group checkbox col-xs-12">
                    <label>
                        <input type="checkbox" name="ownerAcceptsGeneralConditions" value="accept" data-ng-model="form.ownerAcceptsGeneralConditions" data-ng-change="formListener()" required/>
                        <span translate="ACCEPTO_CONDICIONS_GENERALS" translate-value-url="{{ 'ACCEPTO_CONDICIONS_GENERALS_URL' | translate}}"></span>
                    </label>
                    <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.ownerAcceptsGeneralConditions.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="form-control-feedback glyphicon pull-right"  data-ng-class="{
                        'glyphicon-asterisk danger': form.ownerAcceptsGeneralConditions === undefined,
                    }" style="right:2em"></span>
                </div>
            </div>
            <div class="row extra-margin-top" data-ng-show="ownerPageError">
                <div class="alert alert-danger" translate="{{ownerPageError}}">boo</div>
            </div>
        </wizard-page>
        <!-- Page: Payer data -->
        <wizard-page
            model="wizardPage"
            page-name='payerPage'
            header="4 {{ 'DADES_PAGAMENT' | translate }}"
            prev-page="goToOwnerPage()"
            next-page="goToConfirmationPage()"
            next-text="{{ 'CONFIRMAR_CONTRACTACIO' | translate }}"
            show-always='showAll'
            ready="isPayerPageComplete()"
        >
            <div class="row extra-margin-top">
                <div class="col-xs-12">
                    <label>{{ 'QUI_ES_TITULAR_COMPTE_BANCARI' | translate }}</label>
                </div>
                <div class="col-xs-12">
                    <select class="form-control input-lg" name="choosepayer" data-ng-model="form.choosepayer" data-ng-change="formListener()">
                        <option value="titular">{{
                            form.ownerIsMember === 'yes'?
                                initForm.soci.nom + ' '+ initForm.soci.cognom:
                                owner.name + ' ' + owner.surname
}} ({{ 'TITULAR_CONTRACTE_ELECTRICITAT' | translate }})</option>
                        <option value="soci" ng-hide="form.ownerIsMember==='yes'">{{ initForm.soci.nom + ' ' + initForm.soci.cognom }} ({{ 'SOCI_SOM_ENERGIA' | translate }})</option>
                        <option value="altre">{{ 'ALTRA_PERSONA' | translate }}</option>
                    </select>
                </div>
            </div>
            <div class="well" data-ng-show="form.choosepayer === 'altre'">
                <personal-data
                    model="payer"
                    onchanged="formListener()"
                ></personal-data>
            </div>
            <div class="row" ng-hide="form.choosepayer === 'titular'">
                <div class="form-group checkbox col-xs-12">
                    <label>
                        <input type="checkbox" name="payerAcceptsGeneralConditions" value="accept" data-ng-model="form.payerAcceptsGeneralConditions" data-ng-change="formListener()" required/>
                        <span translate="ACCEPTO_CONDICIONS_GENERALS" translate-value-url="{{ 'ACCEPTO_CONDICIONS_GENERALS_URL' | translate}}"></span>
                    </label>
                    <span class="label label-danger" data-ng-show="orderFormSubmitted && orderForm.payerAcceptsGeneralConditions.$error.required">{{ 'OBLIGATORI' | translate }}</span>
                    <span class="form-control-feedback glyphicon pull-right"  data-ng-class="{
                        'glyphicon-asterisk danger': form.payerAcceptsGeneralConditions === undefined,
                    }" style="right:2em"></span>
                </div>
            </div>
            <div class="row">
                <iban-editor
                    class="col-sm-8 col-xs-12"
                    required
                    inputid="accountbankiban"
                    placeholder="{{'CODI_IBAN_DEL_COMPTE' | translate}}"
                    help-text="{{ 'EXEMPLE_IBAN' | translate }}"
                    help="accountbankibanHelp"
                    model="ibanEditor"
                    checkurl="check/iban/"
                    quietlabels='true'
                    onchanged="formListener()"
                ></iban-editor>
            </div>
            <div class="row">
                <div class="form-group checkbox col-xs-12">
                    <label>
                        <input type="checkbox" name="acceptaccountowner" value="accept" data-ng-model="form.acceptaccountowner" data-ng-change="formListener()" required/>
                        <span data-ng-bind-html="'CONFIRMO_TITULAR_COMPTE_ACCEPTA_DOMICILIACIO' | translate"></span>
                    </label>
                    <span class="form-control-feedback glyphicon pull-right"  data-ng-class="{
                        'glyphicon-asterisk danger': form.acceptaccountowner === undefined,
                    }" style="right:2em"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="well custom-ad-top">
                        <h6>{{ 'SOM_UNA_COOPERATIVA_SENSE_ANIM_DE_LUCRE' | translate }}.</h6>
                        <h5>{{ 'VOLS_PARTICIPAR_AMB_LA_TEVA_ENERGIA' | translate }}</h5>
                    </div>
                    <div class="container-xs-height">
                        <div class="row row-xs-height">
                            <div class="col-xs-5 col-xs-height col-middle custom-ad-bottom-left">
                                <label>{{ 'DONATIU_VOLUNTARI' | translate }}</label>
                                <select class="form-control" name="voluntary" data-ng-model="form.voluntary" data-ng-change="formListener()" required>
                                    <option value="">{{ 'SELECCIONA' | translate }}</option>
                                    <option value="yes">{{ 'SI' | translate }}</option>
                                    <option value="no">{{ 'NO' | translate }}</option>
                                </select>
                            </div>
                            <div class="col-xs-7 col-xs-height col-middle custom-ad-bottom-right">
                                <p>{{ 'ELS_SOCIS_I_SOCIES_QUE_HO_DESITGIN_PODEN_REALITZAR_UN_DONATIU_VOLUNTARI' | translate }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row extra-margin-top" data-ng-show="payerPageError">
                <div class="alert alert-danger" translate="{{payerPageError}}">boo</div>
            </div>
        </wizard-page>
    </form>
</div>

<!--CONFIRM TEMPLATE-->
<div data-ng-include data-src="'views/confirm.html'"></div>

<!--OFFLINE API MODAL-->
<div id="api-server-offline-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="WebformsOfflineApi" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/offline-api-modal.html'"></div>
</div>

<!--LOADING API MODAL-->
<div id="loading-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="WebformsLoadingApi" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/loading-api-modal.html'"></div>
</div>

<!--WELL DONE MODAL-->
<div id="well-done-modal" class="modal fade" tabindex="-1" role="dialog" data-aria-labelledby="WebformsWellDone" data-aria-hidden="true">
    <div class="modal-dialog modal-lg" data-ng-include data-src="'views/common/well-done-modal.html'"></div>
</div>

</div>
