<div class="row" data-ng-init="getOperationIdEscape()">
    <div class="col-xs-12">
        <div class="alert alert-warning">
            <h4>{{ 'ACCEDINT_SERVEI_PAGAMENT' | translate }}...</h4>
        </div>
    </div>
</div>

<form action="{{ getTrustPostAction() }}" method="post" class="form-inline">
    <div class="row" data-ng-repeat="(key, value) in data.payment_data">
        <div class="col-xs-2 sr-only">
            <label for="{{ key }}">{{ key }}</label>
        </div>
        <div class="form-group col-xs-4">
            <input type="hidden" name="{{ key }}" value="{{ value }}" class="form-control"/>
        </div>
    </div>
</form>

<script type="text/javascript">
    jQuery(document).ready(function () {
//        setTimeout(function () { document.forms[0].submit(); }, 1000);
    });
</script>
