<div class="modal fade" id="webformsGlobalMessagesModal" tabindex="-1" role="dialog" aria-labelledby="webformsGlobalMessagesModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="text-danger" aria-hidden="true">&times;</span></button>
                <h2 class="modal-title text-danger"><span class="glyphicon glyphicon-warning-sign"></span></h2>
            </div>
            <div class="modal-body">
                <p class="text-danger">{{ messages }}</p>
            </div>
        </div>
    </div>
</div>
